[2019-04-01 14:06] vadimkhmyrovqb commented on #394
Closed due to inactivity.

[2019-04-01 14:06] #394 closed

[2019-04-01 14:06] vadimkhmyrovqb commented on #399
Closed due to inactivity.

[2019-04-01 14:06] #399 closed

[2019-04-01 14:09] vadimkhmyrovqb commented on #408
Closed due to inactivity.

[2019-04-01 14:09] #408 closed

[2019-04-01 14:09] vadimkhmyrovqb commented on #410
Closed due to inactivity.

[2019-04-01 14:09] #410 closed

[2019-04-01 14:10] vadimkhmyrovqb commented on #411
Closed as solution was provided.

@Faizan2112 please check this guide https://quickblox.com/developers/Sample-webrtc-android#Prepare_your_application_for_Android_SDK

[2019-04-01 14:10] #411 closed

[2019-04-01 14:10] vadimkhmyrovqb commented on #413
Closed due to inactivity.

[2019-04-01 14:10] #413 closed

[2019-04-01 14:11] vadimkhmyrovqb commented on #415
Closed due to inactivity.

[2019-04-01 14:11] #415 closed

[2019-04-01 15:58] vadimkhmyrovqb commented on #661
@nomicool it looks like you might have misconfigured the project. The values devFabricApiKey, prodFabricApiKey are taken from "gradle.properties" that should have been edited on project setup.
Please check this guide for more information: https://quickblox.com/developers/Q-municate#Q-municate_Android

[2019-04-03 13:54] QB-vladyslav-vyshniak commented on #660
Hello, dear @RanchhodPulse

Thank you for contacting QuickBlox support.
Could you please proceed with the update to the latest Android SDK version and try to reproduce the issue again.
Let us know about the result.

[2019-04-05 07:40] RanchhodPulse commented on #660
The new update using AndroidX, if we use update then we have to change the
whole code of our application. And have also checked your updated lib code,
used that code too. but getting same issue. as per my knowledge, there are
no changes in chat activity for affected code. can you please advise how
can I resolve this?

On Wed, Apr 3, 2019 at 7:24 PM Vladyslav Vyshniak <notifications@github.com>
wro

[2019-04-10 11:48] thanhduy26091995 opened #662 "Issue with create subscription push notification in Android SDK"
I'm working with quickblox push notification. I have an issue like this
In Quickblox's document, I see an instruction about create subscription
https://quickblox.com/developers/Messages#Create_subscription_.28subscribes.29
This API contains a parameter like this **_push_token[bundle_identifier]_**
But in the Android SDK, it does not have any parameter like this. So when I create a subscription usi

[2019-04-26 03:31] grovervikas commented on #641
I am also having the same issue, it might be issue with Doze mode. In Doze mode Android OS doesn't allow to run background service and hence chat connection dropped and won't be receive push notification. I am also struggling with the same issue. Have you found the solution ?

[2019-04-26 03:40] QuickBlox-team commented on #641
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: zykxuctot7

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-04-26 10:48] ajaychoudhary491 opened #663 "Unable to see my own Video track"
I'm not able to see my own video track but I can see opponents video .Any help?

"onRemoteAudioTrackReceive" is calling properly but "onLocalVideoTrackReceive" not being called

[2019-04-26 10:58] QuickBlox-team commented on #663
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: t4es2l8rx3

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-01 15:59] g-balas commented on #445
Still a problem today....

[2019-05-01 16:00] QuickBlox-team commented on #445
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: pjljrf4bbs

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-01 16:41] g-balas commented on #445
Ok i found the solution and understood the problem.

If you use your own notification server to start the background service, be sure to send your notification in "high" priority. This will force to whitelist your app temporary and allows you to start the call service in the background.

[2019-05-01 16:41] QuickBlox-team commented on #445
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: k863k41nup

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-10 05:59] freshindee commented on #605
Any update here ?

[2019-05-10 06:02] QuickBlox-team commented on #605
This email is confirmation that you are now registered at our helpdesk.

Registered email: reply@reply.github.com
Password: 8dm9pmd7vu

You can visit the helpdesk to browse articles and contact us at any time: https://assist.quickblox.com/

Thank you for registering!

QuickBlox

Helpdesk: https://assist.quickblox.com/index.php?

[2019-05-17 07:54] Shubham30011994 opened #664 "Android Quickblox loudspeaker not automatically on"
Hello Team,

I have implemented quickblox for video calling in android , iOS and web. But in android i have face the one issue when we receive the video call then loudspeaker of the phone is not automatically on. I want to loudspeaker is automatically on when i receive the video call.

My sample code for audio manager :-

audioManager = AppRTCAudioManager.create(this);

        isVideoCall = QBRTC

[2019-05-18 05:51] techradiusopc commented on #529
@Shahjahan786  do you find any solution for that ?

[2019-06-13 13:25] impalawebspooja opened #669 "Show Avatar In Chat Adapter for Android and iOS"
I am trying to load user's avatar image inside Chat Adapter. In newer quickblox chat version there is a method with name obtainAvatarUrl which returns null value. Please provide the accurate way to show user's profile image in chat adapter.

qbSdkVersion = '3.9.1'

[2019-06-17 07:15] impalawebspooja commented on #669
Please help me to get the user's profile image and name in public chat.

[2019-06-17 07:17] impalawebspooja opened #670 "Get the user's profile image and name in public chat."
Please help me to get the user's profile image and name in public chat. The public room has no occupants then how can I get this information?

[2019-06-18 09:36] impalawebspooja commented on #670
anyone who knows the solution of this problem?

[2019-06-28 11:04] rishabhtech1994 commented on #566
Can you please Let me know more about implementing about the online and offline status of a User in Android.

[2019-07-02 21:21] rpinto18 opened #672 "Notification Push"
Hello, Is push notification possible from user to user?

Example?

Thanks.

[2019-07-14 09:39] iwebservicesrepo commented on #643
I am still facing this issue.

[2019-07-17 08:09] bhaveshACME commented on #544
Chat login onError(): Attempt to invoke interface method 'boolean com.quickblox.chat.connections.ChatConnectionExtensionAble.isSupportStreamManagement()' on a null object reference

[2019-07-17 09:45] FarisJakpau commented on #663
Hi @ajaychoudhary491, I also had the same problem as you. In my situation, this is actually my phone problem. My phone suddenly restarted and all my application need to reaccess the system permission again like camera, contact, and others.
So you can try to reaccess the permission in your app. Maybe it helps.

[2019-07-19 11:29] FarisJakpau opened #675 "Continue Video/Voice Call Session"
Hi All,

Currently, I am implementing voice and video call from quickblox SDK. So im having a issue that  im not be able to continue the call when the apps being killed. The QBRTClient session return null when i reentered my app.
How do i get the session back from the save session or the session always being killed when the apps killed?

Thank You.

[2019-07-22 05:56] FarisJakpau commented on #528
set localView.setZOrderMediaOverlay(true). I search for this for about 1 week.
I hate my life.

[2019-07-26 14:43] Izrab opened #677 "How to make video calls in NativeScript with QuickBlox"
It has been days since I am struggling to get an answer to this question, I posted on Stack Overflow, I tried to call QuickBlox phone numbers, I posted a thread on QuickBlox tickets, and I got no responses, **no responses at all**. Then I opened issue in this repository. Lets not even talk about how bad and little and scarce are the documentations.

Now, can I make video calls with QuickBlox in Na

[2019-08-08 19:05] scrobot opened #678 "Recipient ID can't be null or empty when used authentication by token"
hi, I created a question on StackOverflow https://stackoverflow.com/questions/57419126/recipient-id-cant-be-null-or-empty-when-used-authentication-by-token

Let's I duplicate it here too.

Our application used authentication by token.

[code]

And most of the app parts working fine, but I can't receive messages.
When I subscribing on message receiving

[code]

I catching the error:

[code]

I saw

[2019-08-21 06:00] RanchhodPulse opened #679 "User last activity exception Android"
Library version: 3.9.0

I am an enterprise use, I can't log in on your support desk getting below error while login
_We encountered a problem (cross-site request forgery detected); please try again_

Please advise asap.

Getting exception while request last activity time for the opponent. it's getting for some users, after login with the user in the different device and then request last activity

[2019-08-21 15:31] shakilahmeda opened #681 "QBRestChatservice not working"
QBRestChatservice not working in android studio java .
why not working QBRestChatservice and how can i solve this

[2019-08-22 07:13] KundanIws commented on #629
Yes we are still facing this issue

[2019-08-27 06:59] devDecepticon opened #682 "How to record video call?"
is there any way to record a video call?? I have checked the closed issue #257
, Nothing is providing any clearer information about how to achieve it. There should be YES or NO with some reasoning. So is there any way to achieve the video call record and if Yes then please show us a way to do it?

[2019-08-29 10:18] yalematta opened #683 "When reconnecting why joining active room again if we're in Group Chat?"
In the sample-chat-java project, inside the ChatActivity, when calling initChatConnectionListener() when  the reconnection is successful, there's a call to join the Active Group Chat again.
Is there an explanation why we need to do that?

My problem appears after I try to delete a message from the Group Chat while the opponent is offline. When the opponent reconnects, his chat is updated, the dele

[2019-08-30 11:55] #683 closed

[2019-09-06 05:54] rishabhtech1994 commented on #129
Hello,
Can anyone help me regarding the QuickBlox local Database storage procedure as Q-municate is a bit difficult to decode.
Or if QuickBlox provide any local storage facilities for Android????
If any one is into it please try to help

[2019-09-19 08:58] nguyendung17 opened #687 "Error inflating class com.quickblox.videochat.webrtc.view.RTCGLVideoView"
My android studio show error cannot find class com.quickblox.videochat.webrtc
` android.view.InflateException: Binary XML file line #13: Binary XML file line #13: Error inflating class com.quickblox.videochat.webrtc.view.RTCGLVideoView`

Here is my build.gradle(app)
`dependencies {

    implementation "com.quickblox:quickblox-android-sdk-videochat-webrtc:$qbSdkVersion"
    implementation "com.quic

[2019-09-19 20:01] Esvux opened #688 "setScalingType does not work"
**Environment details**
* Android (Minimal API 19, targetSDK 28)
* Quickblox Android SDK 3.9.1 (Java)

**Description**
When my app receives a new remote video track (the app only works with peer-to-peer video calls), the video is rendered correctly but not display according to the scaling type.

[code]

**Expected behavior**
I expect that calling the method setScalingType with *SCALE_ASPECT_FIT* a

[2019-10-18 06:30] rishabhtech1994 opened #690 "Quickblox message not coming in the receiver end using Android SDK"
I am sending message in a group chat where i am able to send Text message successfully but the problem is i am not able to send attachments.

Senario: User sending message is updating in their UI but the same thing is not getting updated in the Receiver's UI.
The Code is not reaching the Chat Message Listener for the attachments.

Please help me with this issue if someone have faced this issue and

[2019-11-20 12:23] ghost opened #691 "XMPP Error while creating Entry in QBRoster"
Hello,
I'm trying to configure the user (opponent) presence using QUICK-BLOX sdk(android). I've followed your documentation and implemented this after successful chat login:

[code]

But I'm getting XMPP Error every time saying "**xmpperror not-allowed - cancel**". I need help on it !!

[2020-01-09 20:46] bailang1208 opened #692 "I can't download image file from custom object."
Hello.
I uploaded png file on admin panel.
And I'm trying to download that image file.

QBCustomObjectsFiles.downloadFile(obj, "image").performAsync(new QBEntityCallback<InputStream>() {
            @Override
            public void onSuccess(InputStream inputStream, Bundle bundle) {
                Bitmap bitmap = BitmapFactory.decodeStream(inputStream);
            }

            @Override

[2020-01-10 19:32] Sukhwal opened #693 "Continue Video/Voice Call Session #675"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, use github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2020-01-23 08:29] lisitso commented on #140
same issue here, even if all permissions was granted. Any suggestion?

[2020-01-28 10:18] sabininnov commented on #544
@bhaveshACME how you solve this above issuee?? I am stick with this.please respond!

[2020-02-01 04:43] Jaymin-Bhadani opened #695 "CallService is not working in latest android version beacuse job scheduler come"

[2020-02-19 03:59] Firdausfatihul opened #697 "qbchatservice: onError: Authentication failed, check user's ID and password"
**Environment details**
*(Operating system, browser information, SDK version)*
OS : Windows 10
Browser: Chroome

**Did this work before?**
No

**Expected behavior**
create session for chat

**Actual behavior**
qbschatservice: onError: Authentication failed, check user's ID and password

**Logs**
`private void createSessionForChat() {
        final ProgressDialog mDialog = new ProgressDialog(ChatDi

[2020-02-21 07:17] vikasrairajput commented on #421
is anyone find the solution?

[2020-02-21 12:34] QB-vladyslav-vyshniak commented on #421
Hello @vikasrairajput

1. Have you tried to reproduce the reported issue on clear QuickBlox Android sample?
2. What Android SDK version do you use?
3. Provide the detailed reproducing steps.
4. Provide a full logs of the issue.
5. Provide a code snippet to see how this feature is implemented on your side.

[2020-03-06 07:41] Lovepreet94 opened #699 "Retrieving QBCustomObjets with skip n records not working"
In android CustomObjects SDK , skip and limit are   not working and I am always getting  the items in response  . eg . if there are only two records in  database table(i.e class), and I pass skip 2  and limit 50 ,it always returns two records from starting  and arg skip does nothing. code is :

[code]
   response body   is:
 BODY
        '{"class_name":"Reviews","skip":2,"limit":30,"items":[{"_par

[2020-03-14 07:00] YogeshJ241 opened #700 "com.quickblox.core.exception.QBResponseException: Client is not, or no longer, connected."
Hello Team,

I am getting this type of issue while sending the message.

I have used the following method to send message.

public void sendMessage(QBChatDialog dialog, String message, QBEntityCallback<ArrayList<QBChatMessage>> callback) {

        ArrayList<Integer> occupantIdsList = new ArrayList<>();
        occupantIdsList.add(dialog.getUserId());
        QBChatDialog chatDialog = new QBChatDi

[2020-03-21 08:29] arpit87 opened #701 "Manage periodic ping in javascript SDK"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*
-

**Environment details**
*(Operating system, browser information, SDK version)*
SDK 2.12.7 Javascript

**Did this work before?**
Yes , but long before

**Expected behavior**
Periodic pings/presence to be sent to server.Either manually or automatically

**Actual behavior**
Only 1 presence sent right afte

[2020-03-27 07:37] OmarKRostom commented on #700
I am having the same issue as well.

[2020-04-08 19:11] Drumering commented on #659
Hi @vadimkhmyrovqb , how are you?

After i do your above suggestion, i have new errors:

[TAG] Failed to resolve variable '${project.groupId}'

Can you help me?

[2020-04-09 01:02] Drumering opened #702 "Program type already present: android.support.v4.media.MediaBrowserCompat$CustomActionCallback"
**Environment details**
*(Kubuntu 18.04, Android Studio 3.6.1, SDK Quickblox version 3.9.2)*

**Expected behavior**

When importing the dependencies in build.gradle app-level, the app should work normally

**Actual behavior**

When importing the dependency  "com.quickblox:quickblox-android-sdk-messages:3.9.2", i get the error described in title this issue

**Steps to reproduce the behavior**

Afte

[2020-04-09 08:32] alirezaeiii opened #703 "Get crash in ResourceUtils"
I receive following crash log in kotlin-sample-chat when I start the app :
  --------- beginning of crash
2020-04-09 12:56:11.442 29619-29619/com.quickblox.sample.chat.kotlin E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.quickblox.sample.chat.kotlin, PID: 29619
    android.content.res.Resources$NotFoundException: Resource ID #0x0
        at android.content.res.ResourcesImpl.getValue(Res

[2020-04-09 08:41] QB-vladyslav-vyshniak commented on #700
Hello @YogeshJ241 and @OmarKRostom

The reported issue occurs when the connection with the server is lost, in this case you should reconnect to the chat.
Use the following documentation to fix the issue on your side:
1. https://docs.quickblox.com/docs/android-chat#section-connect-to-chat-server
2. https://docs.quickblox.com/docs/android-chat#section-disconnect-from-chat-server
3. https://docs.quic

[2020-04-14 16:00] alexparvus1 commented on #703
It seems that class ResourceUtils.kt can't find the color.
Please try to replace the logic in getCircleColor(...) with your own logic of colors choosing.

[2020-04-14 16:17] alexparvus1 commented on #702
Case 1:
Please Add the following in your gradle.properties file:
[code]

Case 2 (if above doesn't work)
Android studio -> Navigate -> Class
Check include non-project classes
Copy full classpath android.support.v4.media.MediaBrowserCompat
See where it is used. You may need to remove, one of them.

Case 3
Seems that one of your existing dependencies already has "support.v4" You may exclude this libr

[2020-04-14 16:25] alexparvus1 commented on #700
It seems that your application is not connected to the Chat Server. Please make reconnect if this connection is lost after long application foreground inactivity.

[2020-04-14 16:30] alexparvus1 commented on #699
Please provide the request and response logs.

[2020-04-14 16:38] alexparvus1 commented on #697
You try to login to Chat Server (QBChatService.getInstance().login) with an unexisting user.
It is simpler to make login logic using:
`    private void signIn(QBUser qbUser) {
        QBUsers.signIn(qbUser).performAsync(new QBEntityCallback<QBUser>() {
            @Override
            public void onSuccess(QBUser qbUser, Bundle bundle) {
                loginToChat(qbUser);
            }

[2020-04-14 16:55] alexparvus1 commented on #692
You should use for example AsyncTask to save inputStream to file in the background.
For example:
[code]

[2020-04-14 16:57] alexparvus1 commented on #691
Please provide logs if this issue is still relevant.

[2020-04-14 17:01] alexparvus1 commented on #690
Did you set your ChatMessageListener to the current Dialog? Like this: `qbChatDialog.addMessageListener(chatMessageListener);`

[2020-04-14 17:16] alexparvus1 commented on #669
To load User's avatar you should find avatarID (fileID) in model QBUser and load QBFile by this ID. Then you can load image by URL or load file directly into the storage:
[code]

[2020-04-15 15:34] Drumering commented on #702
So, I realized I need to migrate the application to use androidX. This way a new error appears:

`[TAG] Failed to resolve variable '${project.version}'`

Followed by:

[code]

P.S. Can't disable Jetifier.

Can you help me?

[2020-04-17 12:04] sarkar2003 opened #704 "import com.quickblox.sample.chat.java.BuildConfig;"
import com.quickblox.sample.chat.java.BuildConfig;****
cant resolve symbol BuildConfig

[2020-04-23 07:54] nitin-appinventiv opened #705 "How to take screenshot of video call in quickblox android sdk ?"
I want frame or bitmap of the remote user on video call.

I have used below method but it is not working.

remoteFullScreenVideoView.addFrameListener(new EglRenderer.FrameListener() {
        @Override
        public void onFrame(Bitmap bitmap) {
            Log.d(TAG, "onFrame bitmap= " + bitmap);
            showPictureURL(bitmap);
            }
         }, 1f);

[2020-04-28 07:52] alexparvus1 commented on #704
Make sure your file is importing the right BuildConfig class.
And if you copying all code from the Sample, it may try to link the wrong buildConfig.
Make sure your import it's like this **com.project.app.BuildConfig**.

[2020-04-28 07:58] alexparvus1 commented on #705
You should add button e.g. "Take Screen Frame" and press it when you need to take frame during the video call.
Pressing this button calls example method below:
[code]

Please note, that after taking a bitmap of the video frame you should call `remoteVideoView.removeFrameListener(this);`

[2020-04-30 18:31] alexparvus1 commented on #664
Seems that at the moment when you use code below - the Media Stream Manager and your Local Track still don't exist.
[code]
Please use this functionality when you get LocalVideoTrack in "onLocalVideoTrackReceive" in your Listener implementing "QBRTCClientVideoTracksCallbacks<QBRTCSession>"

[2020-05-12 06:03] janakspaceo opened #706 "Crash :- libjingle_peerconnection_so.so"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*
-Galaxy C9 Pro

**Crash**
Found crash with ** libjingle_peerconnection_so.so **

Crashed: Thread #1
SIGSEGV 0x000000000000001e

Crashed: Thread: SIGSEGV  0x000000000000001e
       at (Missing)()
       at (Missing)()
       at

[2020-05-20 11:57] gurinovich89 opened #707 "Didn't find class "org.webrtc.VideoRenderer$I420Frame" during start audio/video call"
Application had used QuickBlox 3.3.0 and audio/video calling had worked fine.
After it I migrated project to AndroidX and updated QuickBlox to 3.9.2.
[code]

and Audio/Video calling doesn't work and get crash

[code]

**Environment details**
[code]
Android Gradle Plugin Version 3.2.0
Gradle version 5.6.4
[code]

In gradle.properties
[code]

And as you see I cannot use shrinking and therefore progu

[2020-05-21 09:13] alexparvus1 commented on #707
Thanks for your exhaustive question!

Which build-type did you use when you get an application crash? (debug/release)

It might be you still need to check your proguard-rules file.
You can find it in one of our sample: https://github.com/QuickBlox/quickblox-android-sdk/blob/master/sample-videochat-java/proguard-rules.pro
And then maybe you need to add the rule like:
`-keep class org.webrtc.** { *;

[2020-05-22 10:36] gurinovich89 commented on #707
Thanks, for your answer. It was my trouble. I didn't notice that old version of quickBlox(3.2.0) was  using native *.so libs which has already located in project(app/src/main/jniLibs). Beginning with QuickBlox 3.7.0 we can don't use native *.so webrtc libs directly in our App code. After removing all old jniLibs audio/video calling started to work perfectly.
![image](https://user-images.githubuser

[2020-05-22 10:36] #707 closed

[2020-05-27 08:28] arusyakhov opened #708 "Microphone issue during video/audio call"
i face a problem with microphone on Xiaomi Pocophone f1 Android 10. The voice from this client's side is not heard and the other client cannot hear the voice coming from this client either.

[2020-06-01 08:51] gurinovich89 opened #709 "Cannot upload file with length less than 1kb"
I am trying to upload small text file(less than 1kb) to quickBlox as file attachment but I got error
[code]
For uploading I use these code
[code]
Is it possible to upload small files to quicblox and how I can do it?

[2020-06-01 12:59] alexparvus1 commented on #709
Thank you for your question!
Unfortunately, this is a restriction for all users now - file size should be greater than 1Kb

[2020-06-03 10:14] alexparvus1 commented on #708
Please clarify your issue.
1. Does this problem reproduce on all android devices you try?
2. Please check the microphone permission in your application.

[2020-06-03 10:17] alexparvus1 commented on #706
Please clarify your problem or explain what did you mean at :
[code]

[2020-06-03 14:23] janakspaceo commented on #706
Hello alex,
this is the exact log i am getting on crash, i don't know what is this "missing" here

[2020-06-04 14:01] alexparvus1 commented on #709
@gurinovich89 This restriction was changed! Now minimum file size is reduced to 1 byte.
Thank You for using QuickBlox Android SDK. Have a nice day

[2020-06-04 14:24] alexparvus1 commented on #706
As we know - Libjingle is a part of the WebRTC codebase.
Maybe you need to check your proguard-rules.pro file?

[2020-06-04 14:32] alexparvus1 commented on #702
I give you "Case 1" In the first message...
Try ->  `android.enableJetifier = false`  in your gradle.properties file

[2020-06-05 14:32] sohaibkhaa opened #710 "Reset Password not working"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Android, browser information, SDK version 3.9.2)*

**Did this work before?**
not

**Expected behavior**

**Actual behavior**

**Logs**
https://gist.github.com/sohaibkhaa/a6071235b01cbcffc96de345139cf374

**Steps to reproduce the behavior**

**Any others comments?**

[2020-06-10 00:29] alexparvus1 commented on #710
To reset User's password you should use:
[code]
But make sure, that this User's **e-mail** is confirmed by another identity provider like Firebase or Facebook.

[2020-06-10 08:50] sohaibkhaa commented on #710
i have enabled that option but now when i log in it's giving error that email not confirmed.
How to confirm email now? i have searched but nothing not even in quickblox documentation

[2020-06-12 15:13] alexparvus1 commented on #701
If your question about JavaScript functionality - You can ask your question in section Javascript - https://github.com/QuickBlox/quickblox-javascript-sdk

[2020-06-12 15:13] #701 closed

[2020-06-12 15:16] alexparvus1 commented on #695
As I checked this problem - Now all works fine. If you still have a problem - please clarify your issue.

[2020-06-12 15:16] #695 closed

[2020-06-12 15:17] alexparvus1 commented on #693
Please clarify your problem if you still have some. Thanks

[2020-06-12 15:17] #693 closed

[2020-06-16 11:42] arusyakhov commented on #708
Hello
1. The problem doesn't occur on all android devices
2. microphone permission is enabled

[2020-06-23 17:29] nobeldhar commented on #358
meta data need to be inside application (in case you put it outside).

[2020-06-25 18:04] alexparvus1 commented on #708
1. Could you please give the current firmware version of this Poco F1? Does it work on Xiaomi's stock firmware for the Poco-series or Xiaomi MIUI build? Maybe it works on Black-Shark firmware edition or other custom firmware? (Please provide a version)

2. Did it work fine if the Pocophone user switched on a headset with an external microphone? (or Bluetooth headset?)

3. Does the application on P

[2020-06-27 03:45] pumatus opened #711 "com.quickblox.core.exception.QBResponseException: base You are not owner of this object"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

Android 8.0
QBUsers 3.9.2
val userO = QBUser()
                userO.id = SharedPrefsHelper.getQbUser().id
                userO.fullName = fullname.text.toString()
                userO.email = "eoshonda@gmail.com"

[2020-06-27 03:45] #711 closed

[2020-06-27 14:49] mjhaghparast opened #712 "How remove a user from conference video call android"
hi
i want create a video conference with multi users and remove a user from my conferance call
how do this work with android?????

[2020-06-30 13:33] khajazamiuddin opened #714 "camera"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, use github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2020-06-30 16:30] alexparvus1 commented on #672
Late is better than never :)
To send Push to other QB-User you should create QBEvent.
For example like this:

[code]

All what you need to know to send Pushes with Quickblox SDK - there: https://docs.quickblox.com/docs/android-push-notifications

[2020-06-30 16:30] alexparvus1 commented on #714
Please clarify and describe your problem

[2020-06-30 16:30] #714 closed

[2020-06-30 17:17] alexparvus1 commented on #712
You can use SystemMessagesManager with System Messages here.
How to work with System Messages you can find in Chat Sample (https://github.com/QuickBlox/quickblox-android-sdk/blob/master/sample-chat-java/)

How to handle System Messages you can find for example there - https://github.com/QuickBlox/quickblox-android-sdk/blob/master/sample-chat-java/app/src/main/java/com/quickblox/sample/chat/java/ui

[2020-06-30 17:19] alexparvus1 commented on #710
@sohaibkhaa you should create new user, or enter e-mail for your user, and than confirm it

[2020-06-30 17:23] alexparvus1 commented on #675
Late is better than never :)
How to hold your call even when your application was killed by operation system you can find there - https://github.com/QuickBlox/quickblox-android-sdk/blob/master/sample-videochat-java/app/src/main/java/com/quickblox/sample/videochat/java/services/CallService.java

As you can see - you should use Service to hold and process the call.

[2020-06-30 17:30] alexparvus1 commented on #688
As I checked - Scaling Type works fine.

If something works wrong you can compare the logic with the sample - https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-videochat-java

There are three scaling types for QBSurfaceView:

ScalingType scalingType;
scalingType = RendererCommon.ScalingType.SCALE_ASPECT_FIT;
scalingType = RendererCommon.ScalingType.SCALE_ASPECT_FILL;
scalingTyp

[2020-07-03 01:24] pumatus commented on #675
CallService Will not execute in the background。Why~

[2020-07-03 09:22] pumatus opened #715 "QBRoster Hello~ Friends request Is there any plan to update the demo?"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, use github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2020-07-06 08:08] adi4472 opened #716 "No one to recieve the Message"
I am using QuickBlox calling service when I call for the first time everything works normally but when I call the second time I get the error No one to receive the message. Any help will be appreciated

[2020-07-07 09:42] pumatus commented on #482
so easy

[2020-07-08 09:20] pumatus opened #717 "There are no background tasks for incoming calls"
oh my god!

[2020-07-13 16:18] krishnameena opened #718 "Not able to receive call when app is not running"
When app is running video call works fine but not receiving calls when app is not running on remote device.

[2020-07-13 18:17] krishnameena commented on #717
Yes not able to receive calls when app is not running.

Did you find any solution ?

[2020-07-13 18:19] krishnameena commented on #615
Did you find any solutions ?

[2020-07-13 18:20] krishnameena commented on #622
Did you find any solutions ?

[2020-07-13 18:21] krishnameena commented on #509
Did you find any solutions ?

[2020-07-14 04:08] pumatus commented on #717
no ......

[2020-07-14 06:40] #718 closed

[2020-07-14 06:41] krishnameena commented on #718
Got it working had some issues with Firebase notifications.

[2020-07-14 07:17] krishnameena commented on #717
Got it working had some issues with Firebase notifications.

[2020-07-17 03:50] pumatus commented on #154
我真是服了，写出来的demo通知都不能正常接收消息，

[2020-07-18 03:28] pumatus opened #720 "onError (No one can receive the message)"
QBPushNotifications.createEvent(qbEvent).performAsync(object : QBEntityCallback<QBEvent> {
        override fun onSuccess(qbEvent: QBEvent?, bundle: Bundle?) {
            // Event Created
            Log.e("sendPushMessage --- ", "成功")
        }

        override fun onError(e: QBResponseException?) {
            Log.e("sendPushMessage --- ", "失败 " + e!!.message)
        }
    })

[2020-07-18 13:06] sohaibkhaa commented on #710
Sir i have created new user but still not getting confirmation email..
is there any specific method to send confirmation email or quickblox automatically sends it?

[2020-07-20 00:19] pumatus commented on #717
yes Do you want relevant code? I seem to be able to run caller ID in the background

[2020-07-20 02:52] krishnameena commented on #717
Yes, please

[2020-07-21 23:56] alexparvus1 commented on #715
Please clarify your comment

[2020-07-21 23:58] alexparvus1 commented on #716
Give us some steps and some logs please.

[2020-07-22 00:02] alexparvus1 commented on #717
To know how to develop an application with calls in the background and with call notification when the call comes while the application is in the background - you may go to the link below and find VideoChat Sample with wanted functionality.

https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-videochat-java

[2020-07-22 00:22] alexparvus1 commented on #720
This error means that NONE of the QBEvent "receivers" has QBEvent Subscription (for example PushNotification subscription).

Example. If you create QBEvent like this:
[code]

And if you got an error message "No one can receive the message" - it means that NONE of `qbChatDialog.getOccupants()` has Subscription. (You may check these subscriptions in Quickblox Admin Panel)

[2020-07-22 00:27] alexparvus1 commented on #681
Unfortunately, we have nothing to do with this problem, especially if you won't give us little bit more information.

[2020-07-22 14:35] pumatus opened #721 "XMPPConnection closed -> （Can it not be closed?）Connecting to remote service（Keep it connected！）Thks~"
Why do I return to the main interface?

2020-07-22 22:33:32.269 9425-9527/com.quickblox.testchat D/SMACK: XMPPConnection closed (0)
2020-07-22 22:33:32.269 9425-9527/com.quickblox.testchat D/QBASDK: clearUserConnection
2020-07-22 22:33:32.269 9425-9527/com.quickblox.testchat D/QBASDK: unregister network listener
2020-07-22 22:33:32.415 9425-9527/com.quickblox.testchat D/QBASDK: clearUserConnection

[2020-07-22 14:37] pumatus commented on #721
Want to keep it connected, don’t close。

[2020-07-23 00:11] pumatus commented on #721
@alexparvus1  Please help me thanks～

[2020-07-23 11:11] sahil-mobi commented on #589
did this feature get added?

[2020-07-28 06:44] #721 closed

[2020-08-01 12:53] nikunjmi commented on #718
@krishnameena I have same issue so can you please explain what is the issue in Firebase notifications or do i need to change anything with firebse console. Can you please help me to solve this issue.

Thanks.

[2020-08-01 13:01] krishnameena commented on #718
Share your manifest file

[2020-08-01 13:15] nikunjmi commented on #718
@krishnameena Can you please check manifest file?

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permiss

[2020-08-01 13:31] krishnameena commented on #718
You have registered 2 services for same event

remove this
[code]

Then check logs whether FCM event is receiving or not then implement logic accordingly

[2020-08-01 13:32] krishnameena commented on #718
Also post your PushListenerService code

[2020-08-01 13:36] nikunjmi commented on #718
PushListenerService code

class PushListenerService : QBFcmPushListenerService() {
    private val TAG = PushListenerService::class.java.simpleName

    override fun onNewToken(token: String) {
        super.onNewToken(token)
        val intent = Intent(Const.ACTION_TOKEN_CHANGED)
        intent.putExtra(Const.BUNDLE_NOTIFICATION_ID, token)
        LocalBroadcastManager.getInstance(this).sendBroad

[2020-08-01 13:37] krishnameena commented on #718
Add this to sendPushMessage method

[code]

[2020-08-01 13:42] nikunjmi commented on #718
I added this LoginSerivce start code into sendPushMessage method but still not receive incoming call when app is killed event not receive any remote message into onMessageReceived Method.

[2020-08-01 14:00] krishnameena commented on #718
You are missing following permissions

<uses-permission android:name="yourpackagename.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

[2020-08-06 08:32] simranKa opened #722 "Not Showing my local video and remote video view on caller side"
and i have implemented video track listener still unable to get my local video and other caller not getting remote video,  please help me with this issue as soon as possible.

[2020-08-06 11:52] nikunjmi commented on #718
@krishnameena I added these permissions but still not receiving video call when app is killed.

Actually problem is when app is killed "onMessageReceived" method not called so might be some issue with notification payload.

Can you please help me to figure out what is the reason behind this?

[2020-08-06 12:07] krishnameena commented on #718
Please check `QBFcmPushListenerService` `onMessageReceived` it calls `sendPushMessage` so in `PushListenerService`  `sendPushMessage` will gets called instead of `onMessageReceived`

[2020-08-06 12:10] krishnameena commented on #718
to further debug implement `QBPushManager.QBSubscribeListener` and check whether subscription created or not

[2020-08-06 12:12] krishnameena commented on #718
Rest check your code you might be missing something otherwise it should work

[2020-08-17 14:34] gosemathraj commented on #432
I am getting the same issue. Where to find the End Points. I checked the quickblox admin panel but did not find any.

[2020-08-26 11:30] alexparvus1 commented on #722
Please take a look at Sample VideoChat - https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-videochat-java
And if the problem still appears - provide more information about "Not showing video" and "Unable to get video".

Please always provide more information then "I have a problem".
Please understand - the fact that you have a problem will not help anyone to solve your problem.

[2020-08-27 06:54] simranKa commented on #722
hello,

Thank You for your response, actually this issue is resolved. But I am
getting one more issue. The app is working fine in India, but in UAE calls
are cut automatically within 10 sec or more. If you can help me with this,
it's really urgent.

Thanks & Regards
Simran

On Wed, Aug 26, 2020 at 4:30 AM Egor Pavlov <notifications@github.com>
wrote:

[2020-08-29 07:08] Akash-DNA opened #724 "Getting Unexpected Signature"
I am trying to merge quickblox in my project but while creating the session using API but getting "Unexpected Signature"
using this Javascript for signature generation

 <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

here is my javacode :

 $scope.CreateSession = function()

    {
        var n = Math.round(+new Date() / 1000);

        var Nonce = p

[2020-09-07 13:52] Vijay-Patole opened #725 "iOS apns/VOIP push not receiving when sent from Android application"
*Integrating Quickblox Notifications and trying to send the PUSH and VOIP iOS app but iOS app is not receiving the VOIP push from Android which is working for IOS to iOS, looking for if I am missing something while sending the push*

**Environment details**
*Android*

**Did this work before?**
Working for sending FCM messages from iOS to Android and Android to Android.
but looking for sending VOIP

[2020-09-14 12:41] premchand-algo opened #726 "Not getting push notification on android device"
Hi,

I am not getting any push notification on android.
I have followed the all steps as given https://docs.quickblox.com/docs/android-push-notifications.

       String outMessage = String.format(String.valueOf(R.string.text_push_notification_message), senderName);

        QBEvent qbEvent = new QBEvent();
        qbEvent.setNotificationType(QBNotificationType.PUSH);
        qbEvent.setEnvironmen

[2020-09-15 07:55] shoaibhassan1 opened #727 "Local Video rotated by 180 degree"
When i initiate a video call and change device orientation from portrait to landscape (left or right)
then local video gets rotated by 180 degree
also other peer can see my video rotated.
Please help.

[2020-09-18 08:06] kumar2112 commented on #139
Getting same issue on quickblox api
private function createSignature($data){
		$http_build_query=http_build_query($data);
		$secreatKey=$this->QBConfig['QB_AUTH_SECREAT'];
		$http_build_query=trim(htmlspecialchars($http_build_query, ENT_QUOTES, 'UTF-8'));
		return hash_hmac('sha256',$http_build_query,$secreatKey);
	}

	public function getToken(){
		$apiUrl           =$this->QBConfig['QB_API_BASE_U

[2020-09-19 11:57] TheVigor commented on #726
Yes, not able to receive push notification on Android after all steps in tutorial. Please, help.

[2020-09-20 12:16] ShreeKrish opened #728 "USB Webcam access using quickblox android sdk"
Is there a way to access USB logitech webcam connected to Android Phone using quickblox android sdk.
Currently it recognizes only inbuilt cameras

[2020-09-25 13:10] Vijay-Patole commented on #725
issue resolved by making changes from the iOS app side as follows,
Managing Background Mode properly is the key. Ensure you manage users' Background mode properly because automatic Chat Alerts for Offline users require that a recipient is explicitly Offline:
follow the following link:
https://docs.quickblox.com/docs/ios-chat#section-chat-in-background

[2020-09-25 13:10] #725 closed

[2020-09-30 13:56] shaheer47 commented on #726
Only getting notification when it is send by admin portal. But when it comes to chat no notification.

[2020-10-20 10:35] Significantinfotech2020 opened #729 "Flutter GitHub Repo"
Hello QuickBlox Support Team,

I just want to know, when will you launch flutter github repo for flutter chat app functionality?

[2020-10-28 19:15] veronikawilliams1 opened #730 "NO users to call"
Hello,
I logged in app "sample videochat" and saw

 But there is empty list !!! No users.

What I'm doing wrong? Please, help! : )

[2020-10-29 16:11] veronikawilliams1 commented on #730
Please, I want any solution

[2020-10-29 16:11] veronikawilliams1 commented on #730
Any ideas /

[2020-10-30 05:51] veronikawilliams1 commented on #730
did you manage to make a call?

[2020-10-30 09:48] QB-maksym-pidhorbunskyi commented on #730
Hello Veronika,

Thank you for contacting QuickBlox support.

In order to make video calls and use a QuickBlox video calling sample, please make sure that you have a QuickBlox account.
You can create an account here: https://admin.quickblox.com/signup

The step-by-step instructions on how to create a new QuickBlox account and an application could be found here: https://quickblox.com/developers/5_M

[2020-10-30 16:13] veronikawilliams1 commented on #730
**THANK YOU SO MUCH MAX**! EVERYTHING WORKED!
I don't know what I would do without you :) U're my hero

[2020-10-30 16:36] QB-maksym-pidhorbunskyi commented on #730
Hello Veronika,

Glad to hear that the issue is resolved :)

[2020-10-30 19:01] veronikawilliams1 opened #731 "how can i create new users directly from the app?"
Hello!
How can I create new users directly from my app? I mean create users not from

 but from my own program

That would be cool : )

[2020-10-30 19:02] veronikawilliams1 commented on #731
Or is it impossible to do ??

[2020-10-30 19:03] #730 closed

[2020-10-30 19:26] veronikawilliams1 commented on #731
Please, write what do you think about it ?

[2020-10-30 19:45] veronikawilliams1 commented on #731
I figured out how to do it)

[2020-10-30 19:46] #731 closed

[2020-11-01 21:44] veronikawilliams1 opened #732 "connect two users who are not registered on the quickblox site"
Hello,
I make app quickblox.sample.videochat.
Can the quickblox.sample.videochat.java application connect two users who are **_not registered with my application on the quickblox site_**? (But on the other hand, for example, they are listed in `Firebase` or my `SQLite`)

Thanks!

[2020-11-01 21:45] veronikawilliams1 commented on #732
### please answer who knows :)

[2020-11-02 07:43] Ahmedbadereldin opened #733 "I have issue when i'm enable proguard"
D/QBASDK: org.json.JSONException: JSONObject["last_message_user_id"] not a string.
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.qiotic.yayacar, PID: 30147
    java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
        at com.quickblox.chat.model.QBChatDialog.getType(Unknown So

[2020-11-02 15:45] QB-maksym-pidhorbunskyi commented on #729
Hello,

By now we do not have the exact date when Flutter GitHub repository will be launched.

New versions of QuickBlox Flutter SDK will be released on pub.dev: https://pub.dev/packages/quickblox_sdk/versions

[2020-11-03 12:33] alexparvus1 commented on #724
I think we need more information to help you.
When you get an error? Why did you use a javascript signature in the android project? How did you merge your project with quickblox?

[2020-11-03 12:35] alexparvus1 commented on #726
Please provide additional information.

1. Do you already have Firebase account and did you set in properly with your sample application and package ID in Firebase Console?
2. Did you already set the Server Key from your Firebase Console -> Your Project Settings -> Cloud Messaging  to your QuickBlox Admin Panel -> Push Notifications -> Settings -> Firebase Cloud Messaging -> (the same server key f

[2020-11-03 12:37] alexparvus1 commented on #727
Please provide additional information, such as logs and more clear steps to reproduce.

[2020-11-03 12:41] alexparvus1 commented on #728
Please provide more info about Your "Android Phone", your "Logitech webcam", how did you connect these devices, and how Android device will recognize this device.

[2020-11-03 12:44] alexparvus1 commented on #729
There is the Quickblox flutter SDK https://github.com/QuickBlox/quickblox-flutter-sdk

[2020-11-03 13:16] alexparvus1 commented on #732
If you want to directly connect two nor registered in QuickBlox users using QuickBlox - you should create application with your own registration or using our "Custom Identity Provider" https://docs.quickblox.com/docs/android-authentication#custom-identity-provider.
And you can find the solution with registration (for example by phone number) using Firebase.
All these features you can find there -

[2020-11-03 13:19] alexparvus1 commented on #733
Please check the Proguard section there - https://github.com/QuickBlox/quickblox-android-sdk/blob/master/README.md#customize-proguard-in-android-studio

[2020-11-03 16:23] umangnine commented on #726
Hello @alexparvus1, I am having the same issue with the Android Push notification! I have followed all steps and configured everything correctly from my side. Even I test FCM Token and Server Key twice by sending notifications from other sources. So, everything is setup correctly but still no success with the QuickBlox Push notification on android devices.

Kindly help!

All Contributors, I reques

[2020-11-09 19:23] FisnikIbishi opened #734 "QBJsonErrorParser parse error"
I get com.quickblox.core.parser.QBJsonErrorParser.parseError (QBJsonErrorParser.java:79) o release build. On debug it works fine

[2020-11-10 10:19] ShreeKrish commented on #728
Please find the details below :
- I am using USB C Hub Dock 8 in 1 Type C adapter. With this i am able to connect HDMI and logitech-C270 HD webcam.
- Able to get the stream from USB Camera app based on UVC.

From my analysis, i think the quickblox webrtc package (Camer1Enumerator) only looks for connected devices on /dev/video nodes .. However, the USB based webcam is populated on /dev/bus/usb/. T

[2020-11-10 17:12] FisnikIbishi commented on #103
This crash is still happening on 2020

[2020-11-10 23:43] Jcabanillas98 commented on #726
Bueno yo logré hacer que lleguen las notificaciones por medio del chat, tan solo hice lo siguiente

 private void prepareUser(String qbLogin, String name, String lastName) {
        QBUser qbUser = new QBUser();
        qbUser.setFullName(String.format("%s %s", name, lastName));
        qbUser.setLogin(qbLogin);
        qbUser.setEmail(qbLogin);
        qbUser.setPassword(USER_DEFAULT_PASSWORD);

[2020-11-14 09:33] hassanmhd commented on #734
I was facing the same issue. It's because some of the classes were obfuscated by proguard.
A quick solution is to exclude quickblox's  classes by adding the following to the end of your proguard rules

[code]

[2020-11-27 12:18] alexparvus1 commented on #726
Hello, @umangnine we always watching on Pushes and other functionality. When something falls from our side - we fix the problem immediately. What is your issue? What went wrong? Please provide information in your ticket contact QuickBlox support team https://assist.quickblox.com/

[2020-11-30 10:03] abusuioc opened #735 "Support for Huawei Mobile Services Push Kit"
Let me start by thanking you guys for creating this useful SDK.

As you well know, because of the [US trade ban](https://en.wikipedia.org/wiki/China%E2%80%93United_States_trade_war) , the new and upcoming Huawei devices powered by Android cannot anymore use Google Play Services (GMS). As a response to that, Huawei developed its own alternative to GMS - called Huawei Mobile Services (HMS). As part

[2020-12-03 02:47] digitalmidges opened #736 "Attempt to invoke interface method 'boolean com.quickblox.chat.connections.ChatConnectionExtensionAble.isSupportStreamManagement()' on a null object reference"
When I'm during a Video or an Audio call, and the user who made the call "kill" the app from the task manager.
Im getting a weird bug.

In my Service which handle the QB communication I'm override  'onTaskRemoved'

   override fun onTaskRemoved(rootIntent: Intent?) {
        super.onTaskRemoved(rootIntent)
        if (QuickbloxManager.isLoginToQuickBlox()) {
            // in order to use quickblo

[2020-12-10 15:38] Zephyer7673 commented on #67
@soulfly , I am also having this error but, i am already owner of group, and i try to remove user from group dialog, is there any solution for this ?

[2020-12-15 16:09] alexparvus1 commented on #735
Thank you very much we are working on it.

[2020-12-15 23:20] alexparvus1 commented on #735
@abusuioc are you a Huawei Mobile Service representative or are you a free developer?
In any case, we are always open to communication and mutual assistance.

[2020-12-15 23:25] alexparvus1 commented on #736
@digitalmidges the issue is really strange and the logic of your application is unclear for me.
Please provide some logs (with this error) to give us an understanding of your application flow, and we will try to help you.

[2020-12-15 23:36] digitalmidges commented on #736
@alexparvus1 when two users are in a video call or an audio call, I'm starting a foreground service to handle the call elapsed time and etc... the service also responsible for the events from Quickblox

I'm getting a weird bug in this scenario:
User A is calling User B -> User B answer the call and the two start talking -> after a while User A ( who made the call ) decided to exit the app from rec

[2020-12-16 09:46] abusuioc commented on #735
@alexparvus1 sure, let me know what you need / how I can help you. We can continue here, or if you want to use a different channel, write me at adrian.busuioc@huawei.com

[2020-12-16 10:42] alexparvus1 commented on #735
Hello Nate!
This man answered me that he is working on Huawei! Got it! :) His e-mail -
adrian.busuioc@huawei.com

ср, 16 дек. 2020 г. в 11:46, abusuioc <notifications@github.com>:

[2020-12-16 11:41] Krailit commented on #431
Same here I tried to config everything follows the tutorial.
When I send push-notification from the backend I got this log
and the client never received any notification.

  "notification": {
    "id": 38261720,
    "badge": null,
    "device_token": null,
    "sound": "default",
    "alert": null,
    "data": {
      "message": "fffff7",
      "collapse_key": "event35665602"
    },
    "expiry":

[2021-01-01 15:07] prashant21497 opened #737 "Hashmap<> issue"
![Screenshot (39)](https://user-images.githubusercontent.com/35329291/103441144-f035b880-4c71-11eb-8b47-d69732616a8f.png)
Hello Guys,

i found HashMap<> error in CallActivity

 @Override
    public void onRejectCurrentSession() {
        callService.rejectCurrentSession(new HashMap<>());
    }

 public void hangUpCurrentSession() {
        callService.stopRingtone();
        if (!callService.hangU

[2021-01-05 04:11] SuryaChundawat opened #738 "device id getting null while sending push notifications"
Hi All,

Getting an issue with quickblox push notifications. I have successfully integrated chat functionality and it's working great. But push notification functionality is not working. I am able to send push from the app its showing delivered in the portal but when I am looking in logs its showing below (i manage to show some of my logs)
{"notification":{"id":3811111,"badge":null,"device_token":

[2021-01-06 13:41] deepaksharma302 commented on #717
In Sample also not working in background when we have killed app or in background, we have try to get solution from technical support but they also not provide me the support for this issue.

[2021-01-18 08:10] maughray commented on #463
I had the same problem. In this way you verify if user is in your privacy list, but the question is why notification are not blocked if partner has blocked you? You can't verify his privacy list.

[2021-01-19 16:43] alexparvus1 commented on #737
@prashant21497 Hello! As you can see - this "new HashMap<>()" - this is just the argument that you can add as a parameter for signaling message if you want to customize it. So if your Android Studio markets these part of the code as error - you can parameterize this HashMap as - new HashMap<String, String>()

About the line :
`allOpponents = Collections.synchronizedList(new ArrayList<>(opponents.s

[2021-01-19 16:51] alexparvus1 commented on #736
You just need to handle calls in another service or make your service responsible for displaying a notification with call details. And if your application has been closed by the user - you should launch them when the user presses on a notification or launch the application by pressing the application icon.
Look how I made this flow in the videochat sample: https://github.com/QuickBlox/quickblox-an

[2021-01-19 16:59] alexparvus1 commented on #738
It seems that you already receive the push but your BroadcastReceiver didn't do anything to show the notification for the user.
Please check how you make your receiver.
I have an example for you: https://github.com/QuickBlox/quickblox-android-sdk/blob/master/sample-chat-java/app/src/main/java/com/quickblox/sample/chat/java/fcm/PushListenerService.java

I answered also on StackOverflow.

[2021-01-19 23:09] Drumering opened #739 "QBRoster getPresence(targetId) Always returning offline"
**Code**

When the "A" user login into the app:

`subscriptionListener = new SubscriptionListener();
        rosterListener = new RosterListener();
        roster = QBChatService.getInstance().getRoster(QBRoster.SubscriptionMode.mutual, subscriptionListener);
        roster.addRosterListener(rosterListener);

        presence = new QBPresence(QBPresence.Type.online);
        try {
            rost

[2021-01-20 08:42] AhmadShaheer28 opened #740 "Attachment messages not received"
i'm not receiving messages with attachment in addDialogMessageListener

[2021-01-20 10:50] #740 closed

[2021-01-20 15:07] alexparvus1 commented on #734
@FisnikIbishi  yes, in case of similar problems you should look into your proguard rules in your project as @hassanmhd posted.
Thanks @hassanmhd !

[2021-01-20 23:17] Drumering commented on #739
@alexparvus1 , thank you so much! Your tip was very helpful!

Another thing that I follow up was:

`QBPresence presence = QBChatService.getInstance().getRoster().getPresence(userForQuickblox);`

With this, I was able to get the presence when I need.

[2021-01-20 23:17] #739 closed

[2021-01-22 14:32] AustrianDudes opened #742 "Video calling - UnsatisfiedLinkError in PeerFactoryManager"
Dear Quickblox team,
I'm currently experiencing following crash on my new development tablet (arm64) when starting a new WebRTC video call or accepting an incoming video call:

`1698-3490/com.ilogs.products.moccajames E/org.webrtc.Logging: NativeLibrary: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.ilogs.products.moccajames-sTjI8mtyWlYejcZdhyax

[2021-01-22 16:51] alexparvus1 commented on #742
Thank you for your question. Please provide your device model and give more logs to help us understand the problem with webRTC on your device. Thanks

[2021-01-23 09:56] prak899 opened #743 "Attempt to invoke virtual method 'com.siddhi.vl.Util.QBResRequestExecutor com.siddhi.vl.App.getQbResRequestExecutor()' on a null object reference"
am stuck here almost for a day kindly revert it as fast possiable

[2021-01-25 09:24] AustrianDudes commented on #742
Hi, thanks for your quick response.
The device effected by this issue is a E101GC4G with Android 8.1.0 installed. As supported abi architectures the device returns "arm64-v8a, armeabi-v7a and armeabi".

It seems as the PeerFactoryManager tries to located the libjingle_peerconnection_so.so file in the /lib/arm64 folder, but the folder has not been generated. To my understanding these native library

[2021-02-01 07:22] sagarpatel288 opened #744 "QBUsers.getUsersByFullName is not giving proper result for 1 or 2 letters of input (search query)"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*
Operating System: Android
SDK Version: 3.9.2

**Did this work before?**
No

**Expected behavior**
Even if the search query contains only 1 or 2 letters, it should give all the users whose full name contains those letters.

**A

[2021-02-03 08:16] arusyakhov opened #745 "Video Call issues"
When the user is connected to bluetooth airpods, video call drops after some seconds of call. QBRTCSessionStateCallback onDisconnectedFromUser gets called.

**Environment details**
*(Operating system, browser information, SDK version)*
Operating System: Android
SDK Version: 3.9.10

**Did this work before?**
not sure

**Expected behavior**
The call should not drop if one of the clients is connected

[2021-02-03 08:22] arusyakhov opened #746 "Video call connction issue"
I've integrated qb android sdk 3.9.10 to my project. In some rare cases I get issue with video call connection

**Environment details**
*(Operating system, browser information, SDK version)*
Operating System: Android
SDK Version: 3.9.10

**Did this work before?**
No

**Expected behavior**
When user answer's to opponent's call they should be connected

**Actual behavior**
In some rare cases the use

[2021-02-26 11:09] saurav2210-1996 opened #748 "SASLError using PLAIN: not-authorized"
In Android app integrated and working fine but when we update openfire now old register user get "SASLError using PLAIN: not-authorized" error but when i create new user it is working fine.

why this happen ?

[2021-02-28 19:30] hasan5151 opened #749 "An error occurred while executing doInBackground()"
applicationId is null. You must call QBSettings.getInstance().init(Context, String, String, String) before using the QuickBlox library.

[2021-03-04 17:26] ShubhGar opened #750 "getDialogMessages is very slow take more than 5s , other methods like getChatDialogs are also not happy with quickblox performance specially in Android"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, use github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2021-03-04 17:52] bassamfouad92 commented on #717
@deepaksharma302 I have written my own solution for it Quickblox not updated for android 10 onwards.. For android 10 I have implemented push notification call when app in background and when phone is switched off it will show full screen like whatsapp does

[2021-03-04 18:47] deepaksharma302 commented on #717
@bassamfouad92 Thanks for finding the solution, Please share me the link of your code so that we can check and integrate it.

[2021-03-04 18:58] alexparvus1 commented on #717
@deepaksharma302 if you use the sample and if you want to receive calls when the sample-application is killed - you need to create a firebase account (https://firebase.google.com/) and enable the pushnotifications. Then you need to put your "sender_id" from your firebase project into the proper resource in the sample-application - resources/strings -> sender_id.

[2021-03-04 19:04] alexparvus1 commented on #717
@bassamfouad92 , @deepaksharma302  - if you read the Quickblox documentation about how to set the pushnotifications sender_id into the sample app - it will receive calls in the background or when the app was killed.

[2021-03-04 19:06] alexparvus1 commented on #743
Please give us more information about your issue, maybe some logs etc. And then we can help you.

[2021-03-04 19:13] alexparvus1 commented on #744
@sagarpatel288  Please note, that the minimum search phrase must contain at least 3 characters. It's the server's restriction to prevent overloading the shared free server. And this is normal practice because searching by a single letter will not return relevant answers if you have a lot of users.

[2021-03-04 19:17] alexparvus1 commented on #745
It's good that you found this issue, but to help you we need some logs to determine the thing which makes the call ending.
It seems that your AirPods was sent a "Call Hangup" signal to the system.
Please provide the logs if possible.

[2021-03-04 19:24] alexparvus1 commented on #746
@arusyakhov Please note that if you try to connect 3 or 4 devices in one call - and if these devices connected to the same wi-fi access point - it can overload your network and some part of your traffic can be lost. So please try to connect your devices through different networks - and all will work fine!

[2021-03-04 19:31] alexparvus1 commented on #748
Please provide us a more readable description of your issue. Because we have no idea about how you are using Openfire etc., and when and where did you get your error.

[2021-03-04 19:35] alexparvus1 commented on #749
Yes, you should have even one "application" in QuickBlox Admin Panel. So you should register in QuickBlox before.
This information was in the repository and in the folder where you have downloaded the sample application. Also, this information you can find in QuickBlox Documentation - https://docs.quickblox.com/docs/android-setup

[2021-03-04 20:07] alexparvus1 commented on #750
Maybe you caught the moment of a huge load on the QuickBlox shared server. It's normal when a lot of developers from all over the world use free QuickBlox Servers. Because almost all are free, all functionality is free. It's good for all free developers! But some developers sometimes make the servers overloaded.
So please be careful with making frequent requests to the server. It can be harmful to

[2021-03-04 20:11] alexparvus1 commented on #717
Also, if you are using [Free Plan](https://quickblox.com/pricing/) - there are no offline messages.

[2021-03-05 04:32] ShubhGar commented on #750
But i purchased startup plan of quickblox, its not a free version. And its not only for our app your dummy android app also take lots of time.

[2021-03-05 15:22] bassamfouad92 commented on #717
@alexparvus1 in Quicblox sample there is no code for how to get fullscreen when phone is switched off. and it is just give you silent notification

[2021-03-05 15:24] bassamfouad92 commented on #717
@deepaksharma302 email me at bassamfouad92@gmail.com

[2021-03-07 10:15] ShubhGar commented on #750
@alexparvus1  I have startup plan of quickblox, but its really slow, calling chatting, history, everything slow.

[2021-03-07 13:17] alexparvus1 commented on #750
@ShubhGar Yes, ut are you using your own paid QuickBlox API and Chat Servers?

[2021-03-07 13:28] alexparvus1 commented on #717
Yes because the "sample app" - it's just a sample, just an example of how you may use QuickBlox functionality. Samples - it's free for all! You can use them as much as you want ))
Other Android features you want - you can use freely - it's your development, and you do it very well!

[2021-03-08 04:51] ShubhGar commented on #750
@alexparvus1 , Yes i am using paid Quickblox API, Username: iamchirppie.

[2021-03-08 10:16] bassamfouad92 commented on #717
I had done my own solution it is working fine for android 10 and 11 to

[2021-03-08 12:43] sagarpatel288 commented on #744
@alexparvus1 Even when we are using 3 characters, If there are two names: "Sagar Patel" and "Patel Sagar D", it is showing the result for "Patel Sagar D" only for the search query "pat". **It should include "Sagar Patel" also.** (However, it includes both if the search query is "pate" - that are a total of 4 characters).

[2021-03-25 12:06] hasan5151 opened #751 "QBChatService.getToken() deprecated"
what should i use?

[2021-04-06 12:06] Ahmadpashaquarterpi commented on #589
Any Updates About Changing the Group Owner?

[2021-04-21 10:32] hasan5151 opened #752 "rtcClient.getSession("sessionId").isActive throw NullPointException"
rtcClient.getSession("sessionId").isActive throw NullPointException

[2021-04-21 18:09] hasan5151 opened #753 "CallSession doesnt close properly"
When i hang up session. It always gives this log:

I/org.webrtc.Logging: EglRenderer: localVideoViewDuration: 4018 ms. Frames received: 0. Dropped: 0. Rendered: 0. Render fps: ,0. Average render time: NA. Average swapBuffer time: NA.

I/org.webrtc.Logging: EglRenderer: remoteFullScreenVideoViewDuration: 4023 ms. Frames received: 0. Dropped: 0. Rendered: 0. Render fps: ,0. Average render time: NA.

[2021-04-22 10:43] sushillyn commented on #283
Keep Getting   STATUS : 400  error when i try to signup:

    *** RESPONSE *** 6038ede1-65a6-4b9e-9645-4ef732fcea09 ***
    STATUS : 400
    HEADERS
        x-request-id=FngnSoCch9K2Rd0EQYTi
        X-Android-Selected-Protocol=http/1.1
        Server=nginx
        Connection=close
        X-Android-Response-Source=NETWORK 400
        X-Android-Sent-Millis=1619087266707
        cache-control=max-ag

[2021-04-23 04:23] lazy-coder-10 opened #754 "Quickblox android Sdk Crash"
**Yesterday I have got crashes in my application but when I checked the Crashlytics dashboard that was because of QB. QB was getting crash again and again for 1 or 2 hours and then automatically got fixed**

*(Operating system, browser information, SDK version)*
QBSdkVersion = 3.9.2
Android version = 6.0.1

**Did this work before?**
Yes, it was working fine earlier.

**Logs**
*Caused by java.lang.

[2021-05-04 09:36] arusyakhov commented on #745
Hi, thanks for the answer. You can check it on qb video chat sample, where I encounter the same issue. Anyway if you think the issue is connected with my environment, let me know, I'll try to provide the logs.

[2021-05-04 09:38] arusyakhov commented on #746
Hi. Thanks for the answer. I encounter it with 2 devices connected to the same wi-fi access point. And it happens in very rare cases.

[2021-05-04 09:45] arusyakhov opened #755 "Video call connection issue"
I've integrated qb android sdk 3.9.10 to my project. In some rare cases I get issue with video call connection.

**Environment details**
*(Operating system, browser information, SDK version)*
Operating System: Android
SDK Version: 3.9.10

**Did this work before?**
No

**Expected behavior**
When one qb client calls another, sometimes in very rare cases, the other doesn't get call

**Actual behavior

[2021-05-04 10:43] arusyakhov commented on #755
[logcat_client_who_didn't receive call.txt](https://github.com/QuickBlox/quickblox-android-sdk/files/6420493/logcat_client_who_didn.t.receive.call.txt)

[2021-05-04 10:51] arusyakhov commented on #755
[logcat_calling_client.txt](https://github.com/QuickBlox/quickblox-android-sdk/files/6420538/logcat_calling_client.txt)

[2021-05-05 20:47] hasan5151 opened #756 "Delete Message Limit"
QBRestChatService.deleteMessages(messagesIDs, forceDelete).performAsync(object : QBEntityCallback<Void?> {
            override fun onSuccess(p0: Void?, p1: Bundle?) {
            }

            override fun onError(e: QBResponseException) {
            }
        })

Is there any delete message limit? How can i clear chat history? I can delete 5-10 messages but i couldnt delete 180 messages

[2021-05-07 14:42] alexparvus1 commented on #756
Please provide the logs regarding this issue.

[2021-05-07 14:48] alexparvus1 commented on #753
It seems that the session was closed but the SurfeceView hasn't been released.

[2021-05-07 17:39] hasan5151 commented on #756
com.quickblox.core.exception.QBResponseException:
     at com.quickblox.core.parser.QBJsonParser.parse(Unknown Source:49)
     at com.quickblox.auth.session.Query$VersionEntityCallback.completedWithResponse(Unknown Source:24)
     at com.quickblox.auth.session.Query.completedWithResponse(Unknown Source:11)
     at com.quickblox.core.server.HttpRequestRunnable$1.handleMessage(Unknown Source:46)

[2021-05-07 18:09] alexparvus1 commented on #754
@rohit6027 Please provide more detailed logs

[2021-05-07 18:10] alexparvus1 commented on #752
It seems that there are no session found with this Session ID.

[2021-05-07 18:25] alexparvus1 commented on #755
@arusyakhov there is nothing useful to help you in your logs, but "onReceiveNewSession" callback fires in your log:
[code]
Maybe something wrong with adding listeners or managing the session on RTCClient.

P.S. Please provide only the target application logs, not from all your device - it should be better to solve your problem. Thanks

[2021-05-07 20:49] hasan5151 commented on #756
=== REQUEST ==== c8f50047-664d-4b75-9c14-e657fdab3adc ===
i sent delete 161 items. As i understand there is a limit for sent ids.

[2021-05-07 20:50] hasan5151 commented on #756
*** RESPONSE *** c8f50047-664d-4b75-9c14-e657fdab3adc ***
    STATUS : 400
    HEADERS
        X-Android-Selected-Protocol=http/1.1
        Server=nginx
        Connection=close
        X-Android-Response-Source=NETWORK 400
        X-Android-Sent-Millis=1620420279661
        Content-Length=0
        X-Android-Received-Millis=1620420280006
        Date=Fri, 07 May 2021 20:44:40 GMT
        Content-

[2021-05-07 20:50] hasan5151 commented on #756
But how can i delete all history chat?

[2021-05-11 06:59] hasan5151 opened #757 "How can i close AppRTCProximitySensor?"
When i init AppRTCAudioManager.create(context), AppRTCProximitySensor automatically start. I don't want to use AppRTCProximitySensor . Is there any function to close AppRTCProximitySensor ?

[2021-05-11 12:10] alexparvus1 commented on #756
As you can see - your request is too long - not all data contained in your request. So the server can not interact with just the part of the request.
If you need to delete a lot of messages, it seems you should delete them assembling by 10 or 20.

[2021-05-11 15:01] alexparvus1 commented on #757
If you want to enable/disable managing speakerphone by proximity sensor you should use:
[code]
but it is FALSE (managing turned off) by default.

[2021-05-11 17:35] stephanoparaskeva opened #758 "QuickBlox Community Slack"
Here is the invite link:
https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

quickbloxcommunity.community.slack

@dehimb

[2021-05-11 17:47] stephanoparaskeva commented on #755
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-11 17:47] stephanoparaskeva commented on #742
Hey please join a Community made QuickBlox Slack so we can help each other on the QB platform:

https://join.slack.com/t/quickbloxcommunity/shared_invite/zt-q0s3bx3b-YzacqhEfPeBGbEdgEtFr1g

[2021-05-20 12:31] ParryPatel021 commented on #603
I also facing this error while creating a new dialog OR fetch the existing dialog.

[2021-05-21 09:50] waqarYasin opened #759 "Call Recording Issue One Side Gets Recorded"
I have been trying this issue but same response when i start recording it only records my voice but don't record other side voice
but i am facing this issue in android 10 ..Realme Note 9 Device

**Expected behavior**
Should record both side voice

**Actual behavior**
only record caller side receiver side voice is not recorded.

[2021-05-22 06:26] ParryPatel021 commented on #548
Hey, how did you resolve these issues?
Could you please explain it? OR it would be great if have some code snippets to address it.

[2021-05-26 10:38] alexparvus1 commented on #759
Please provide more information! What functionality did you use to make a call? How did you record the call? What are errors did you get in your code?

[2021-05-27 12:31] saurav2210-1996 commented on #748
Thanks for reply but i found issue now working fine.
Thanks

[2021-05-27 12:31] saurav2210-1996 commented on #748
Thanks for reply but i found issue now working fine.
Thanks

[2021-05-27 12:31] #748 closed

[2021-06-03 20:23] avinashyerrala commented on #727
This is how I rotated my local video 90 degrees. Hope it helps someone looking for the answer.

 private fun fillVideoView(
        videoView: QBRTCSurfaceView, videoTrack: QBRTCVideoTrack,
        remoteRenderer: Boolean
    ) {
        videoTrack.removeRenderer(videoTrack.renderer)
        if (!remoteRenderer) {
            localVideoTrack?.track?.addSink { videoFrame->
                localVide

[2021-06-11 07:12] lazy-coder-10 commented on #754
It happens only once.

[2021-06-21 10:36] billypap1 opened #760 "Cannot accept Videocall in Android SDK"
**Environment details**
*(Operating system, browser information, SDK version)*
Android 10 - QuickBlox Android SDK v.3.9.0

**Did this work before?**
No

**Expected behavior**
User accept call and connect to videocall

**Actual behavior**
User can receive a call, but when he accepts call, the caller don't receive the accept event.

**Any others comments?**

The call is from web sdk js to android SD

[2021-06-25 00:48] hoang-pham-virtium commented on #621
any idea? Please share it with me. I really need this.

[2021-06-25 00:51] phamhoangbl commented on #621
any idea about this? I really need this, please!

[2021-06-25 09:57] akhil-0181 opened #761 "'{"base":["record is too large (current: 568852, max: 131072)"]}'"
I have use custom object and create new object and add two field one for post_title and second one is post_image. post_image i have put base64 string.

but every time it's getting error like  '{"base":["record is too large (current: 568852, max: 131072)"]}'

                  QBCustomObject qbCustomObject = new QBCustomObject();
                    qbCustomObject.setClassName("Userchat");

[2021-07-09 09:20] #733 closed

[2021-07-09 09:23] kirillTolmachev commented on #760
@billypap1 Hello.
Please provide more information like logs from Android Studio and steps.
Please reproduce this issue in our video call sample https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-videochat-kotlin

[2021-07-09 09:25] #419 closed

[2021-07-09 09:25] #420 closed

[2021-07-09 09:25] #444 closed

[2021-07-09 09:25] #447 closed

[2021-07-09 09:25] #448 closed

[2021-07-09 09:25] #471 closed

[2021-07-09 09:25] #496 closed

[2021-07-09 09:25] #498 closed

[2021-07-09 09:25] #501 closed

[2021-07-09 09:25] #508 closed

[2021-07-09 09:25] #511 closed

[2021-07-09 09:25] #523 closed

[2021-07-09 09:25] #557 closed

[2021-07-09 09:25] #560 closed

[2021-07-09 09:25] #578 closed

[2021-07-09 09:25] #601 closed

[2021-07-09 09:25] #602 closed

[2021-07-09 09:25] #604 closed

[2021-07-09 09:25] #610 closed

[2021-07-09 09:25] #614 closed

[2021-07-09 09:25] #616 closed

[2021-07-09 09:25] #617 closed

[2021-07-09 09:25] #618 closed

[2021-07-09 09:25] #619 closed

[2021-07-09 09:25] #761 closed

[2021-07-13 12:53] Ahmadpashaquarterpi opened #762 "Block/ Unblock is not working Properly"
I am using android sdk version: 3.9.11

Right now I am working on the block/unblock feature. but its not working properly.

it works properly as long as app is in the foreground, but when I close the app or move it to the Background. Privacy list stops working and blocked users can also send messages.

following is the code I am using:

private static String PRIVACY_LIST_NAME = "CHAZBIZ_LIST";

[2021-07-15 06:56] kkvarma commented on #717
@bassamfouad92
Please share me the link of your code so that we can check and integrate it.

[2021-07-15 09:29] deepaksharma302 commented on #717
Hello Kumar,
Please connect with me on my whatsapp number or skype mentioned below so
that we can communicate directly.

*Whats App*  : +91 -8826510669
*Skype* : https://join.skype.com/invite/oFsq1b49cLEj

On Thu, Jul 15, 2021 at 12:26 PM Kumar Varma ***@***.***>
wrote:

--

*Thanks,Deepak Sharma*
*Co-Founder | Director *
*Mentobile Technologies LLP*

*Mob: +91-882-651-0669*

[2021-07-15 15:52] vdovbnya-qb commented on #762
@Ahmadpashaquarterpi Hello. Thanks for your issue.
I checked this issue and was able to reproduce it. We are dealing with this problem. I'll let you know when there is new information. If you want more information contact the support team.

[2021-07-17 04:16] Ahmadpashaquarterpi commented on #762
@vdovbnya-qb Thanks for the reply.
Looking forward to solution as soon as possible.

[2021-07-20 12:36] Ahmadpashaquarterpi opened #763 "Base Forbidden, Need User"
**QB Sdk version:** '3.9.11'

**Problem:** "Base Forbidden, Need User" and Sometime I also face problems while logging into the app.

**Duration:** Facing this problem since last week.

**Detail:** I have a testing account of quickblox and been working on this app fine. but started facing this issue last week. while I did not made any changes to the login method.

**Question:** Does it has anythin

[2021-07-21 10:02] vdovbnya-qb commented on #763
@Ahmadpashaquarterpi Hello. Thanks for your issue.
We have some problems on the server, these problems are being solved. For more information, contact the support team.

[2021-07-21 10:55] ParryPatel021 commented on #534
Still, I facing this issue after login into QuickBolx Chat.

[2021-07-22 06:27] vineeshLee commented on #763
hi same thing happening here too,
getting an exception com.quickblox.core.exception.QBResponseException: base Required session does not exist sometimes ,
and also getting Base Forbidden, Need User ,

[2021-07-22 07:57] QB-maksym-pidhorbunskyi commented on #763
Hello @vineeshLee @Ahmadpashaquarterpi This is Maksym from QuickBlox support.
This is a known issue for QuickBlox Development team, you could experience such behavior from time to time while using QuickBlox Cloud infrastructure due to the internal bugs that contain the latest release that was deployed a few days ago.
Currently our backend developers are fixing the correct work of QuickBlox Cloud i

[2021-08-10 12:39] Ahmadpashaquarterpi opened #764 "Email Verification and Password Reset is not working"
Hi,
I am working on a chatting app but I am facing a problem while verifying email.
When I receive the email and open the link to verify. but it does not verify email but instead open an raw html page as follows:

<!DOCTYPE html>
<html lang='en'>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet

[2021-08-12 04:40] Ahmadpashaquarterpi commented on #764
@QB-nikolay-zolotarov  Thanks for reply,

I am working on a App, and I want to get email verified.

I am using the following link template to get the email verified in the greeting email. But there is nothing related to email when I click the link just some raw html tags are shown on screen.

https://api.quickblox.com/confirm_email?token=#{user.get_confirmation_token}

similarly, I have also imple

[2021-08-13 12:54] QB-nikolay-zolotarov commented on #764
Hello Ahmad,

Thank you for getting back to me.

Unfortunately, email notifications are disabled for the Cloud server.

You may use such functionality with our Enterprise plans.

Also, you will need to check the required checkboxes in the Admin Dashboard on your Enterprise instance.
[https://admin.quickblox.com/apps/YOUR_APP_ID/service/users/email-settings](https://admin.quickblox.com/apps/YOUR_AP

[2021-08-16 04:11] Ahmadpashaquarterpi commented on #764
Ok
Thank you @QB-nikolay-zolotarov

[2021-08-17 16:11] arusyakhov opened #765 "Upload file error on Android 11"
After targeting Android SDK version 30, I cannot upload files from Documents and Downloads in Quickblox

**Environment details**
*(Operating system, browser information, SDK version)*
Operating System: Android
SDK Version: 3.9.10

**Did this work before?**
With target sdk version 29 it worked

**Expected behavior**
Quickblox client should be able to upload files from Documents folder

**Actual beh

[2021-08-18 14:09] QB-nikolay-zolotarov commented on #765
Hello,

This is Nikolay from QuickBlox support.

We are aware of the change in the target SDK version from 29 to 30.
This is a known issue. We are planning to update the SDK before November.

Please use the target SDK version 29 so far.

Please follow our Github for updates: https://github.com/QuickBlox/

[2021-08-31 12:54] faizan-196 commented on #735
Hi, any update? Is QuickBlox support Huawei or not?

[2021-09-01 07:33] faizan-196 opened #766 "How to use QuickBlox on Huawei devices?"
QuickBlox is not supporting huawei devices because Huawei is not supporting firebase anymore, How to use QuickBlox-android sdk on huawei devices?

[2021-09-06 04:17] aakash232 commented on #760
**You can try and match with this code. This fixed the issue.

- Attach addSessionCallbackListener to your QBRTCClient.
- Under onReceiveNewSession**

QBRTCClient.getInstance(getApplicationContext()).addSessionCallbacksListener(new QBRTCClientSessionCallbacks() {
            @Override
            public void onReceiveNewSession(QBRTCSession qbrtcSession) {

                Map<String, String> user

[2021-09-06 11:10] arbaz07 opened #767 "Incoming call is not working when my mobile's screen is OFF."
Is this possible on QuickBlox ?

**Did this work before?**
NO

[2021-09-22 10:54] QB-nikolay-zolotarov commented on #767
Hello Arbaz,

This is Nikolay from QuickBlox support.

You need to configure push notifications for your application to receive calls in the non-running states using this guide:
[Configuration of chat and video push notifications](https://help.quickblox.com/article/268-configuration-of-chat-and-video-push-notifications)

Please be notified that managing and configuring push notifications in the ba

[2021-09-23 15:46] sagarbhojaviya opened #768 "How can i do search on dialog by name in android"
i am using  ChatHelper.getDialogs()

[2021-09-23 16:40] ishaforenkoqb commented on #768
You're referring to helper class of sample app. Create a new method in this class that will do search in dialogs.

Check out SDK documentation https://docs.quickblox.com/docs/android-chat-dialogs#search-operators

You can use `ctn(field, searchValue)` method of `QBRequestGetBuilder` to specify search string.

`
String field = "name";
String searchValue = "some_group_name";
QBDialogType type = QBDi

[2021-09-24 05:00] sagarbhojaviya commented on #768
Thanks for your quick support

[2021-09-24 05:00] #768 closed

[2021-09-28 10:56] #764 closed

[2021-09-28 11:00] Ahmadpashaquarterpi commented on #762
Is this issue been resolved?

[2021-09-30 14:54] #418 closed

[2021-09-30 14:54] #421 closed

[2021-09-30 14:54] #425 closed

[2021-09-30 14:54] #426 closed

[2021-09-30 14:54] #432 closed

[2021-09-30 14:54] #433 closed

[2021-09-30 14:54] #441 closed

[2021-09-30 14:54] #445 closed

[2021-09-30 14:54] #446 closed

[2021-09-30 14:54] #449 closed

[2021-09-30 14:54] #450 closed

[2021-09-30 14:55] #455 closed

[2021-09-30 14:55] #459 closed

[2021-09-30 14:55] #463 closed

[2021-09-30 14:55] #464 closed

[2021-09-30 14:55] #468 closed

[2021-09-30 14:55] #469 closed

[2021-09-30 14:55] #482 closed

[2021-09-30 14:55] #500 closed

[2021-09-30 14:55] #509 closed

[2021-09-30 14:55] #512 closed

[2021-09-30 14:55] #514 closed

[2021-09-30 14:55] #515 closed

[2021-09-30 14:55] #516 closed

[2021-09-30 14:55] #517 closed

[2021-09-30 14:55] #518 closed

[2021-09-30 14:55] #519 closed

[2021-09-30 14:55] #522 closed

[2021-09-30 14:55] #524 closed

[2021-09-30 14:55] #525 closed

[2021-09-30 14:55] #526 closed

[2021-09-30 14:55] #528 closed

[2021-09-30 14:55] #529 closed

[2021-09-30 14:55] #530 closed

[2021-09-30 14:55] #533 closed

[2021-09-30 14:55] #534 closed

[2021-09-30 14:55] #537 closed

[2021-09-30 14:55] #539 closed

[2021-09-30 14:55] #541 closed

[2021-09-30 14:55] #542 closed

[2021-09-30 14:55] #544 closed

[2021-09-30 14:55] #546 closed

[2021-09-30 14:55] #547 closed

[2021-09-30 14:55] #553 closed

[2021-09-30 14:55] #556 closed

[2021-09-30 14:55] #558 closed

[2021-09-30 14:55] #562 closed

[2021-09-30 14:55] #564 closed

[2021-09-30 14:56] #572 closed

[2021-09-30 14:56] #576 closed

[2021-09-30 14:56] #580 closed

[2021-09-30 14:56] #581 closed

[2021-09-30 14:56] #582 closed

[2021-09-30 14:56] #583 closed

[2021-09-30 14:56] #585 closed

[2021-09-30 14:56] #587 closed

[2021-09-30 14:56] #588 closed

[2021-09-30 14:56] #589 closed

[2021-09-30 14:56] #594 closed

[2021-09-30 14:56] #595 closed

[2021-09-30 14:56] #600 closed

[2021-09-30 14:56] #603 closed

[2021-09-30 14:56] #605 closed

[2021-09-30 14:56] #611 closed

[2021-09-30 14:56] #613 closed

[2021-09-30 14:56] #615 closed

[2021-09-30 14:56] #620 closed

[2021-09-30 14:56] #621 closed

[2021-09-30 14:56] #622 closed

[2021-09-30 14:56] #626 closed

[2021-09-30 14:56] #627 closed

[2021-09-30 14:56] #628 closed

[2021-09-30 14:56] #629 closed

[2021-09-30 14:56] #630 closed

[2021-09-30 14:56] #633 closed

[2021-09-30 14:56] #634 closed

[2021-09-30 14:56] #641 closed

[2021-09-30 14:56] #643 closed

[2021-09-30 14:56] #647 closed

[2021-09-30 14:57] #649 closed

[2021-09-30 14:57] #650 closed

[2021-09-30 14:57] #651 closed

[2021-09-30 14:57] #652 closed

[2021-09-30 14:57] #655 closed

[2021-09-30 14:57] #656 closed

[2021-09-30 14:57] #658 closed

[2021-09-30 14:57] #660 closed

[2021-09-30 14:57] #662 closed

[2021-09-30 14:57] #663 closed

[2021-09-30 14:57] #664 closed

[2021-09-30 14:57] #669 closed

[2021-09-30 14:57] #670 closed

[2021-09-30 14:57] #672 closed

[2021-09-30 14:57] #675 closed

[2021-09-30 14:57] #677 closed

[2021-09-30 14:57] #678 closed

[2021-09-30 14:57] #679 closed

[2021-09-30 14:57] #681 closed

[2021-09-30 14:57] #682 closed

[2021-09-30 14:57] #687 closed

[2021-09-30 14:57] #688 closed

[2021-09-30 16:16] QB-nikolay-zolotarov commented on #339
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-09-30 16:18] QB-nikolay-zolotarov commented on #418
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-users](https://docs.quickblox.com/docs/android-users)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](

[2021-09-30 16:21] QB-nikolay-zolotarov commented on #432
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-setup](https://docs.quickblox.com/docs/android-setup)

Also, please update the SDK to the latest version:
https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10

Additionally,

[2021-09-30 16:25] QB-nikolay-zolotarov commented on #429
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-09-30 16:26] QB-nikolay-zolotarov commented on #426
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-09-30 16:28] QB-nikolay-zolotarov commented on #425
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-09-30 16:31] QB-nikolay-zolotarov commented on #422
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-09-30 16:32] QB-nikolay-zolotarov commented on #421
Hello QuickBlox customers,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 07:24] QB-nikolay-zolotarov commented on #433
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 07:25] QB-nikolay-zolotarov commented on #441
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 07:38] QB-nikolay-zolotarov commented on #445
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 07:40] QB-nikolay-zolotarov commented on #446
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

If it is still relevant after reviewing the update, feel free to open a new issue.

[2021-10-01 07:42] QB-nikolay-zolotarov commented on #449
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-custom-objects](https://docs.quickblox.com/docs/android-custom-objects)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rele

[2021-10-01 07:44] QB-nikolay-zolotarov commented on #450
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rele

[2021-10-01 07:50] QB-nikolay-zolotarov commented on #451
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-relea

[2021-10-01 07:51] QB-nikolay-zolotarov commented on #455
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-relea

[2021-10-01 07:52] QB-nikolay-zolotarov commented on #459
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases

[2021-10-01 07:54] QB-nikolay-zolotarov commented on #463
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 07:55] QB-nikolay-zolotarov commented on #464
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases

[2021-10-01 07:56] QB-nikolay-zolotarov commented on #468
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the latest version of the SDK:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-s

[2021-10-01 07:57] QB-nikolay-zolotarov commented on #469
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 07:58] QB-nikolay-zolotarov commented on #482
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 08:14] QB-nikolay-zolotarov commented on #500
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-content](https://docs.quickblox.com/docs/android-content)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.1

[2021-10-01 08:16] QB-nikolay-zolotarov commented on #509
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:17] QB-nikolay-zolotarov commented on #512
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:18] QB-nikolay-zolotarov commented on #514
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:18] QB-nikolay-zolotarov commented on #515
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:22] QB-nikolay-zolotarov commented on #516
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:24] QB-nikolay-zolotarov commented on #517
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:30] QB-nikolay-zolotarov commented on #518
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/ios-chat-messaging#retrieve-chat-history](https://docs.quickblox.com/docs/ios-chat-messaging#retrieve-chat-history)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox

[2021-10-01 08:39] QB-nikolay-zolotarov commented on #519
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releas

[2021-10-01 08:41] QB-nikolay-zolotarov commented on #522
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it is outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-ios-sdk/releases/

[2021-10-01 08:44] QB-nikolay-zolotarov commented on #524
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10](https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-samples#chat-samples](h

[2021-10-01 08:47] QB-nikolay-zolotarov commented on #526
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10](https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.10)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-samples#chat-samples](h

[2021-10-01 08:54] QB-nikolay-zolotarov commented on #528
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 08:56] QB-nikolay-zolotarov commented on #529
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 08:57] QB-nikolay-zolotarov commented on #530
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 08:58] QB-nikolay-zolotarov commented on #533
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-content](https://docs.quickblox.com/docs/android-content)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.

[2021-10-01 09:12] QB-nikolay-zolotarov commented on #534
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/release

[2021-10-01 09:13] QB-nikolay-zolotarov commented on #537
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-messaging#retrieve-chat-history](https://docs.quickblox.com/docs/android-chat-messaging#retrieve-chat-history)

Also, please update the SDK to the latest version:
[https://github.com/

[2021-10-01 09:14] QB-nikolay-zolotarov commented on #539
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 09:15] QB-nikolay-zolotarov commented on #541
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 09:16] QB-nikolay-zolotarov commented on #542
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-privacy-list](https://docs.quickblox.com/docs/android-chat-privacy-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 09:19] QB-nikolay-zolotarov commented on #544
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 09:21] QB-nikolay-zolotarov commented on #546
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 09:22] QB-nikolay-zolotarov commented on #547
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Pease update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 09:24] QB-nikolay-zolotarov commented on #550
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-contact-list](https://docs.quickblox.com/docs/android-chat-contact-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 09:25] QB-nikolay-zolotarov commented on #553
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 09:26] QB-nikolay-zolotarov commented on #556
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 09:36] QB-nikolay-zolotarov commented on #558
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-messaging#send-message-with-extra-data](https://docs.quickblox.com/docs/android-chat-messaging#send-message-with-extra-data)

Also, please update the SDK to the latest version:
[https

[2021-10-01 09:38] QB-nikolay-zolotarov commented on #562
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/release

[2021-10-01 09:39] QB-nikolay-zolotarov commented on #564
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 09:41] QB-nikolay-zolotarov commented on #572
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-quick-start](https://docs.quickblox.com/docs/android-quick-start)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/

[2021-10-01 09:42] QB-nikolay-zolotarov commented on #576
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 09:43] QB-nikolay-zolotarov commented on #580
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-privacy-list](https://docs.quickblox.com/docs/android-chat-privacy-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 09:44] QB-nikolay-zolotarov commented on #581
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 09:45] QB-nikolay-zolotarov commented on #582
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-privacy-list](https://docs.quickblox.com/docs/android-chat-privacy-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 09:49] QB-nikolay-zolotarov commented on #583
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 09:50] QB-nikolay-zolotarov commented on #585
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-privacy-list](https://docs.quickblox.com/docs/android-chat-privacy-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 09:51] QB-nikolay-zolotarov commented on #587
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 09:52] QB-nikolay-zolotarov commented on #588
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling-advanced#switch-camera](https://docs.quickblox.com/docs/android-video-calling-advanced#switch-camera)

Also, please update the SDK to the latest version:
[https://github.com/

[2021-10-01 09:55] QB-nikolay-zolotarov commented on #595
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 09:57] QB-nikolay-zolotarov commented on #589
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog](https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-

[2021-10-01 10:00] QB-nikolay-zolotarov commented on #594
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/release

[2021-10-01 10:01] QB-nikolay-zolotarov commented on #600
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 10:02] QB-nikolay-zolotarov commented on #603
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 10:03] QB-nikolay-zolotarov commented on #605
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 10:04] QB-nikolay-zolotarov commented on #609
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/release

[2021-10-01 10:29] QB-nikolay-zolotarov commented on #611
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/ios-push-notifications](https://docs.quickblox.com/docs/ios-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.1

[2021-10-01 10:30] QB-nikolay-zolotarov commented on #613
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 10:31] QB-nikolay-zolotarov commented on #615
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 10:32] QB-nikolay-zolotarov commented on #620
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-contact-list](https://docs.quickblox.com/docs/android-chat-contact-list)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releas

[2021-10-01 10:35] QB-nikolay-zolotarov commented on #621
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

The feature of recording audio/video calls is available only for conference calls.
Conference audio/video calls functionality is provided as an addon for all paid plans.
You may read more here:
[https://quickblox.com/pricing/](https://quickblox.com/pricing/)
In order to use the video confe

[2021-10-01 10:37] QB-nikolay-zolotarov commented on #622
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDKs to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rele

[2021-10-01 10:39] QB-nikolay-zolotarov commented on #624
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs#join-dialog](https://docs.quickblox.com/docs/android-chat-dialogs#join-dialog)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-andr

[2021-10-01 10:40] QB-nikolay-zolotarov commented on #625
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Pease update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 10:41] QB-nikolay-zolotarov commented on #626
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs](https://docs.quickblox.com/docs/android-chat-dialogs)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/release

[2021-10-01 11:05] QB-nikolay-zolotarov commented on #627
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 11:06] QB-nikolay-zolotarov commented on #628
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Please make sure that you generate a signature correctly according to our documentation:
https://docs.quickblox.com

[2021-10-01 11:07] QB-nikolay-zolotarov commented on #629
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog](https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-

[2021-10-01 11:08] QB-nikolay-zolotarov commented on #630
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 11:09] QB-nikolay-zolotarov commented on #633
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-messaging#mark-message-as-read](https://docs.quickblox.com/docs/android-chat-messaging#mark-message-as-read)

Also, please update the SDK to the latest version:
[https://github.com/Qu

[2021-10-01 11:11] QB-nikolay-zolotarov commented on #634
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 11:13] QB-nikolay-zolotarov commented on #641
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-messaging](https://docs.quickblox.com/docs/android-chat-messaging)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 11:14] QB-nikolay-zolotarov commented on #643
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 11:14] QB-nikolay-zolotarov commented on #647
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 11:16] QB-nikolay-zolotarov commented on #649
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 11:21] QB-nikolay-zolotarov commented on #650
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

We would like to inform you that all participants of an audio\video call should be indicated initially (before the establishment of a connection between users) so there is no way to implement the functionality to join an ongoing audio/video call.
This is an option to reconnect/rejoin parti

[2021-10-01 11:22] QB-nikolay-zolotarov commented on #651
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog](https://docs.quickblox.com/docs/android-chat-dialogs#create-dialog)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-

[2021-10-01 11:25] QB-nikolay-zolotarov commented on #652
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/ios-push-notifications](https://docs.quickblox.com/docs/ios-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.1

[2021-10-01 11:27] QB-nikolay-zolotarov commented on #655
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant sections of our documentation here:
[https://docs.quickblox.com/docs/ios-push-notifications](https://docs.quickblox.com/docs/ios-push-notifications)
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notificat

[2021-10-01 11:28] QB-nikolay-zolotarov commented on #656
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 11:28] QB-nikolay-zolotarov commented on #658
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-authentication](https://docs.quickblox.com/docs/android-authentication)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/rel

[2021-10-01 11:33] QB-nikolay-zolotarov commented on #660
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code

[2021-10-01 11:34] QB-nikolay-zolotarov commented on #662
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 11:37] QB-nikolay-zolotarov commented on #663
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 11:38] QB-nikolay-zolotarov commented on #664
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 11:46] QB-nikolay-zolotarov commented on #669
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/flutter-users#set-user-avatar](https://docs.quickblox.com/docs/flutter-users#set-user-avatar)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sd

[2021-10-01 11:47] QB-nikolay-zolotarov commented on #670
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/flutter-users#set-user-avatar](https://docs.quickblox.com/docs/flutter-users#set-user-avatar)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sd

[2021-10-01 11:56] QB-nikolay-zolotarov commented on #672
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 11:56] QB-nikolay-zolotarov commented on #675
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 12:04] QB-nikolay-zolotarov commented on #677
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 12:06] QB-nikolay-zolotarov commented on #678
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-push-notifications](https://docs.quickblox.com/docs/android-push-notifications)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-rele

[2021-10-01 12:07] QB-nikolay-zolotarov commented on #681
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Pease update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.11)

Additionally, please check our new samples:
[https://docs.quickblox.com/docs/code-

[2021-10-01 12:10] QB-nikolay-zolotarov commented on #682
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Hello {{case.requester.first_name}},

Thank you for contacting QuickBlox support!

The feature of recording audio/video calls is available only for conference calls.
Conference audio/video calls functionality is provided as an addon for all paid plans.
You may read more here:
[https://quic

[2021-10-01 12:11] QB-nikolay-zolotarov commented on #687
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-01 12:12] QB-nikolay-zolotarov commented on #688
Hello QuickBlox customer,

This is Nikolay from QuickBlox support.

The issue was closed as it was outdated.

Please check the relevant section of our documentation here:
[https://docs.quickblox.com/docs/android-video-calling](https://docs.quickblox.com/docs/android-video-calling)

Also, please update the SDK to the latest version:
[https://github.com/QuickBlox/quickblox-android-sdk-releases/relea

[2021-10-04 09:56] QB-nikolay-zolotarov commented on #690
@alexparvus1 Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you set ChatMessageListener to the current Dialog like it was mentioned in the previous comment:
qbChatDialog.addMessageListener(chatMessageListener);

If there is no reply within 5 days, the issue will be closed.

[2021-10-04 09:59] QB-nikolay-zolotarov commented on #691
The issue is closed as it is outdated and the user is deleted

[2021-10-04 09:59] #691 closed

[2021-10-04 10:03] QB-nikolay-zolotarov commented on #692
@bailang1208 Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you had a chance to check the previous comment and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 11:18] QB-nikolay-zolotarov commented on #697
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you had a chance to check the previous comment and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 13:56] QB-nikolay-zolotarov commented on #699
@Lovepreet94 Hello,

This is Nikolay from QuickBlox support.

In order to investigate the issue, please provide us with the following points:
1. Version of the QuickBlox Android SDK.
2. Versions of Android platform where reproduces the issue (e.g. Android 9).
3. Phone models (e.g. Samsung S9).
4 The request in question.
5. The response logs as an attachments in .txt format.
You can find out how to

[2021-10-04 14:04] QB-nikolay-zolotarov commented on #700
@YogeshJ241 @OmarKRostom Hello,

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous replies and try the provided suggestions.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:06] QB-nikolay-zolotarov commented on #702
@Drumering Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:06] QB-nikolay-zolotarov commented on #703
@alirezaeiii Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:07] QB-nikolay-zolotarov commented on #704
@sarkar2003  Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:13] QB-nikolay-zolotarov commented on #705
Hello @nitin-appinventiv

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:27] QB-nikolay-zolotarov commented on #706
Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided suggestion.

Also, please let us know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:28] QB-nikolay-zolotarov commented on #708
Hello @arusyakhov

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If yes, please provide us with the points requested in the previous reply.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:29] QB-nikolay-zolotarov commented on #709
@gurinovich89 Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:32] QB-nikolay-zolotarov commented on #710
@sohaibkhaa Hello,

This is Nikolay from QuickBlox support.

We are sorry for the delayed reply.

Unfortunately, email notifications are disabled on the Cloud server.

You may use such functionality with our Enterprise plans.

If you are interested in it, please [contact sales](https://quickblox.com/enterprise/#get-enterprise).

If there is no reply within 5 business days, the issue will be closed

[2021-10-04 14:34] #712 closed

[2021-10-04 14:39] QB-nikolay-zolotarov commented on #715
@pumatus Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and provide more detailed information about the issue.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 14:59] QB-nikolay-zolotarov commented on #717
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:01] QB-nikolay-zolotarov commented on #724
Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply. Please provide us with the requested points.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:01] QB-nikolay-zolotarov commented on #726
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:02] QB-nikolay-zolotarov commented on #727
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:08] QB-nikolay-zolotarov commented on #728
Hello, @ShreeKrish

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:09] #729 closed

[2021-10-04 15:12] QB-nikolay-zolotarov commented on #735
Hello,

This is Nikolay from QuickBlox support.

QuickBlox supports only FCM service for the work of Push Notification functionality on the Android platform.
You could use QuickBlox Android SDK for the correct work of key functionalities except Push Notification for HUAWEI devices.

[2021-10-04 15:14] QB-nikolay-zolotarov commented on #734
Hello @FisnikIbishi

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous replies and resolve the issue.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:16] QB-nikolay-zolotarov commented on #732
Hello @veronikawilliams1

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and resolve the issue.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 15:18] FisnikIbishi commented on #734
Fixed, thanks :)

[2021-10-04 15:22] QB-nikolay-zolotarov commented on #734
@FisnikIbishi You are most welcome. Thank you for notifying me.

The issue is being closed.

[2021-10-04 15:22] #734 closed

[2021-10-04 16:01] QB-nikolay-zolotarov commented on #737
Hello @prashant21497

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 16:01] QB-nikolay-zolotarov commented on #738
Hello @SuryaChundawat

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and try the provided solution.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 16:31] QB-nikolay-zolotarov commented on #742
Hello

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 16:34] Drumering commented on #702
Hi there! Yes, I was able to solve my problem following the @alexparvus1  's tips. Thanks a lot! I'll close this issue.

[2021-10-04 16:34] #702 closed

[2021-10-04 16:34] QB-nikolay-zolotarov commented on #743
Hello

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and the issue is still relevant.

To investigate the issue, please provide us with the following points:
1. Version of QuickBlox Android SDK.
2. Versions of Android platform where reproduces the issue (e.g. Android 9).
3. Phone models (e.g. Samsung S9).
4. The detailed description of

[2021-10-04 16:37] QB-nikolay-zolotarov commented on #744
Hello @sagarpatel288

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 16:39] QB-nikolay-zolotarov commented on #745
@arusyakhov Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-04 16:41] QB-nikolay-zolotarov commented on #746
Hello @arusyakhov

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:01] QB-nikolay-zolotarov commented on #750
@ShubhGar Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you submitted a request to [https://help.quickblox.com/](https://help.quickblox.com/)

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:03] QB-nikolay-zolotarov commented on #752
Hello @hasan5151

This is Nikolay from QuickBlox support.

Please let me know if you had a chance to check the previous reply and if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:07] QB-nikolay-zolotarov commented on #753
@hasan5151 Hello

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you checked the previous reply.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:08] QB-nikolay-zolotarov commented on #754
@lazy-coder-10
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:09] QB-nikolay-zolotarov commented on #755
@arusyakhov Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant. If yes, please provide the requested information.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:13] QB-nikolay-zolotarov commented on #756
@hasan5151
Hello,

This is Nikolay from QuickBlox support.

Please let me know if you checked the previous reply and if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:13] QB-nikolay-zolotarov commented on #757
@hasan5151
Hello,

This is Nikolay from QuickBlox support.

Please let me know if you checked the reply and if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-05 13:26] QB-nikolay-zolotarov commented on #759
@waqarYasin
Hello,

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant and if you checked the previous reply.

The feature of recording audio/video calls is available only for conference calls.
Conference audio/video calls functionality is provided as an addon for all paid plans.
You may read more here:
[https://quickblox.com/pricing/](https://quickblox.com/

[2021-10-05 13:28] QB-nikolay-zolotarov commented on #760
Hello,  @billypap1

This is Nikolay from QuickBlox support.

Please let me know if the issue is still relevant.

If there is no reply within 5 business days, the issue will be closed as outdated.

[2021-10-12 09:38] Ahmadpashaquarterpi commented on #762
Thanks @QB-nikolay-zolotarov

Please tell how much time is expected for it to be resolved?

[2021-11-19 06:40] Ahmadpashaquarterpi opened #773 "Not receiving call sessions and push notifications properly"
**QuickBlox SDK Version:** 3.9.11

**PushNotification Type in Manifest:** GCM

**Did this work before?**
Yes, till ( 17 November 2021 ).

**Expected behavior**
Notifications and call sessions should be received properly in time.

**Actual behavior**
Notifications are not working properly on **android 7,8**.
(Notifications are working as expected on android 9,10).
And call sessions are not receivin

[2021-11-23 16:14] QB-liubov-shmatok commented on #773
Hello Ahmad,

This is Liubov from QuickBlox support.

In order to investigate the issue, we would like to ask you to test the flow on our samples. Please follow these links
- https://docs.quickblox.com/docs/code-samples#chat-samples ;
- https://docs.quickblox.com/docs/code-samples#video-calling-samples

In case the error mentioned still reproduces, please get back to us with steps to reproduce the

[2021-11-24 04:32] Ahmadpashaquarterpi commented on #773
ok, I get back here after trying the samples.

[2021-12-02 07:21] Ahmadpashaquarterpi commented on #773
Thanks Liubov,

The issue has been resolved.

it was a mistake on the developers end.

[2021-12-02 07:21] #773 closed

[2021-12-07 14:30] QB-nikolay-zolotarov commented on #699
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:30] #699 closed

[2021-12-07 14:30] QB-nikolay-zolotarov commented on #700
@YogeshJ241 @OmarKRostom The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:30] #700 closed

[2021-12-07 14:32] QB-nikolay-zolotarov commented on #715
@pumatus The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:32] #715 closed

[2021-12-07 14:33] QB-nikolay-zolotarov commented on #716
@adi4472 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:33] #716 closed

[2021-12-07 14:33] QB-nikolay-zolotarov commented on #717
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:33] #717 closed

[2021-12-07 14:34] QB-nikolay-zolotarov commented on #722
@simranKa The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:34] #722 closed

[2021-12-07 14:35] QB-nikolay-zolotarov commented on #724
@Akash-DNA The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:35] #724 closed

[2021-12-07 14:35] QB-nikolay-zolotarov commented on #726
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:35] #726 closed

[2021-12-07 14:36] QB-nikolay-zolotarov commented on #728
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:36] #728 closed

[2021-12-07 14:38] QB-nikolay-zolotarov commented on #763
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 14:38] #763 closed

[2021-12-07 15:09] QB-nikolay-zolotarov commented on #754
@lazy-coder-10 The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:09] #754 closed

[2021-12-07 15:10] QB-nikolay-zolotarov commented on #750
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:10] #750 closed

[2021-12-07 15:11] QB-nikolay-zolotarov commented on #749
@hasan5151  The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:11] #749 closed

[2021-12-07 15:11] QB-nikolay-zolotarov commented on #746
@arusyakhov  The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:11] #746 closed

[2021-12-07 15:11] QB-nikolay-zolotarov commented on #745
@arusyakhov  The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:11] #745 closed

[2021-12-07 15:11] QB-nikolay-zolotarov commented on #744
@sagarpatel288  The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:11] #744 closed

[2021-12-07 15:12] QB-nikolay-zolotarov commented on #743
@prak899  The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:12] #743 closed

[2021-12-07 15:12] QB-nikolay-zolotarov commented on #742
The issue is being closed as outdated.

If it is still relevant, feel free to open a new issue.

[2021-12-07 15:12] #742 closed

[2021-12-16 13:55] nihar1990 commented on #287
I have added the above statement in the proguard but still i am facing this issue after the signing the apk. Please help me.

[2022-01-11 08:10] akardas16 opened #775 "QBWebRTCSignaling.removeMessageListener on a null object reference"
Hi,
We are getting below crash from firebase Crashlytics related to quickblox

Do you have any idea what causes to this crash?
[code]

[2022-01-12 13:51] Sitxovi4 opened #776 "Error while creating user with Server API"
I'm trying to create user through server api request (POST https://api.quickblox.com/users.json)
I get `422 Unprocessable Entity` error with response body as
`{"errors":{"password":["should contain alphanumeric and punctuation characters only","is too short (minimum is 8 characters)"]}}`, even if the password is correct (f.e. `qwerty12345 `- more than 8 characters and doesn't contain wrong symbols

[2022-01-12 18:01] #776 closed

[2022-01-19 04:18] AKK-Tech opened #777 "Upload user profile image!"
How to upload user image file or image url when login?

[2022-01-19 10:49] QB-nikolay-zolotarov commented on #777
@AKK-Tech Hello,

This is Nikolay from QuickBlox support.

Please follow our documentation to upload a user profile image:
https://docs.quickblox.com/docs/android-users#set-user-avatar

[2022-01-24 11:58] QB-maksym-pidhorbunskyi commented on #775
Hello,
Thank you for contacting QuickBlox support.
Please update to the latest version of Android SDK 3.9.14, you can find it here: https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.14
Please check if the reported issue is resolved and let us know.

[2022-02-04 07:01] akshshah opened #778 "Image gets uploaded in Content DB but not save in Chat DB"
Device: Android
Android SDK version = 3.9.14

The images gets uploaded to Content Database of QuickBlox but is not saved in the Chat Database.
There's no record that chat has been sent or save, something like this
[{"size":"137093.0","name":"photos_hero_02.jpg","id":"3c75164a9dbb40d6add4fcece5de1d8e00","type":"image","content-type":"image/jpeg"}]

This problem only happens with Group Dialog, it is

[2022-02-10 09:42] yevhenYefimov commented on #410
I have the same issue, @leonardosetiadi did u find a solution?

[2022-02-11 14:08] harshpatel0909 opened #779 "Listview in not showing"
*Help avoid duplicate issue reports, check [existing issues](link to issues section of repo)*

**Environment details**
*(Operating system, browser information, SDK version)*

**Did this work before?**

**Expected behavior**

**Actual behavior**

**Logs**
*(please, use github [gist](https://gist.github.com/))*

**Steps to reproduce the behavior**

**Any others comments?**

[2022-02-11 14:09] harshpatel0909 commented on #779
<?xml version="1.0" encoding="utf-8"?>
<androidx.coordinatorlayout.widget.CoordinatorLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/coordinator_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:back

[2022-02-16 10:59] QB-nikolay-zolotarov commented on #410
@yevhenYefimov Hello,

This is Nikolay from QuickBlox support.

Please make sure that you use the latest version of the SDK:
https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.15

Also, please try reproducing the issue on our samples:
https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-chat-java
https://github.com/QuickBlox/quickblox-android-sdk/tree/mas

[2022-02-16 11:03] QB-nikolay-zolotarov commented on #779
@harshpatel0909 Hello, this is Nikolay from QuickBlox support.

Unfortunately, the request is not clear enough. Please rephrase it and provide more detailed information about the issue, the error message. Also, please provide steps to reproduce the issue.

In addition, please provide us with full logs. You can enable them using the documentation:
https://docs.quickblox.com/docs/android-setup#enabl

[2022-02-16 12:06] vikashrathore081 commented on #111
facing the same issue. Any update

[2022-02-16 12:10] vikashrathore081 opened #780 "can't able to delete messages in private dialog"
I am using QuickBlox android sdk and when I trying to delete message its give me this exception

com.quickblox.core.exception.QBResponseException: Entity you are looking for was not found.,The resource wasn't found

Earlier its worked fine

[2022-02-16 12:25] QB-nikolay-zolotarov commented on #111
@vikashrathore081 Hello, let's continue the conversation here:
https://github.com/QuickBlox/quickblox-android-sdk/issues/780

[2022-02-16 12:45] QB-nikolay-zolotarov commented on #780
@vikashrathore081 Hello,

This is Nikolay from QuickBlox support.

Please make sure that you delete the message correctly according to our documentation:
https://docs.quickblox.com/docs/android-chat-messaging#delete-message

To investigate the issue further, I need the following points:
1. What SDK version are you using?
Please make sure that you use the latest version of the Android SDK:
https://

[2022-02-16 13:43] vikashrathore081 commented on #780
1- I am using android sdk version 3.9.13
2- So time it works sometime not
3- I am Following [this doc](https://docs.quickblox.com/docs/android-chat-messaging#delete-message)
4- logs
 INLINE
        DELETE https://api.quickblox.com/chat/Message/620cee558a76c2129a23fbb5.json?force=1
2022-02-16 19:12:19.158 7370-7370/com.meenapp D/QBASDK: *********************************************************

[2022-02-17 11:41] sagarehs commented on #773
@QB-liubov-shmatok please check this Crashlog

Firebase library update "com.google.firebase:firebase-bom:26.8.0" to "com.google.firebase:firebase-bom:29.0.0"

qbSdkVersion = '3.9.2'

Caused by java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/firebase/iid/FirebaseInstanceId;
       at com.quickblox.messages.services.a.a.<init>(:3)
       at com.quickblox.messages.services.a.b.a(:2)

[2022-02-17 12:18] sagarehs opened #781 "Not Working push notifications with Latest Firebase bom"
*QuickBlox SDK Version:* 3.9.2

*PushNotification Type in Manifest:* FCM

*Actual behavior*
Application crashed.

Firebase library update in my Project "com.google.firebase:firebase-bom:26.8.0" to "com.google.firebase:firebase-bom:29.0.0"

Application Working fine with "com.google.firebase:firebase-bom:26.8.0"

Caused by java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/firebase/ii

[2022-02-21 12:49] vikashrathore081 commented on #780
Any update??
@QB-nikolay-zolotarov

[2022-02-23 11:22] QB-nikolay-zolotarov commented on #773
@sagarehs Let's continue the conversation here https://github.com/QuickBlox/quickblox-android-sdk/issues/781

[2022-02-23 12:49] QB-nikolay-zolotarov commented on #780
@vikashrathore081 Please double-check if the message you are trying to delete exist.

Also, please make sure that the user that tries to delete the message is added to occupants of the dialog.

Additionally, please note that only the owner can delete messages with force=1. Please make sure that the user is the owner.

[2022-03-10 10:01] sagarbhojaviya opened #782 "Unexpected signature in session api"
I am using android sdk version 3.9.13

When i login first time in quickblox it give me success response of session api.
But getting Unexpected signature error after 1 day login with credential

Ay one can help me in this?

How can i manage this things?

=========================================================
=== REQUEST ==== 4e45a91d-6f31-4f88-b1d9-e76b1a07b661 ===
REQUEST
POST https://api.quick

[2022-03-11 09:42] QB-nikolay-zolotarov commented on #782
Hello,

This is Nikolay from QuickBlox support.

The issue is that you use email, login, and password to log in to the application.

Please use login and password or email and password.

[2022-03-16 05:12] sagarbhojaviya commented on #782
above changes working fine

[2022-03-16 05:12] #782 closed

[2022-03-23 09:14] sagarbhojaviya opened #783 "Message send issue if use same device for two different login"
**Environment details**
*Using Android OS
SDK version 3.9.13*

**Did this work before?**
*No*

**Expected behavior**
*I am using demo example of chat in kotlin*
*Check attached video for reference*

**Issue**
*In video i am doing login using **testc** user after i send message to **testsagar** user it is working fine. But if i logout from **testc** user and do login using **testsagar** user i am r

[2022-03-30 11:44] sagarbhojaviya opened #784 "Audio/Video call connection issue (Not calling onReceiveNewSession method when call coming)"
I've integrated qb android sdk 3.9.14 to my project. I get issue with call connection.

**Environment details**
(Operating system, browser information, SDK version)
Operating System: Android
SDK Version: 3.9.14

**Did this work before?**
Yes, December 2021

**Expected behavior**
When one qb client calls another, the other doesn't get call

**Actual behavior**
When one qb client calls another, the

[2022-03-30 13:12] QB-nikolay-zolotarov commented on #784
Hello @sagarbhojaviya

This is Nikolay from QuickBlox support.

Please try reproducing the issue on our samples:
https://docs.quickblox.com/docs/code-samples#video-calling-samples

If it is not reproduced, you can compare the sample with your custom code to identify the issue.

[2022-03-30 13:45] QB-nikolay-zolotarov commented on #783
Hello @sagarbhojaviya

This is Nikolay from QuickBlox support.

To investigate the issue further please provide the following points:
1. Please try using the latest version of the SDK:
https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.15
2. Is this issue intermittent or permanent?
3. Please provide us with full REST + XMPP logs from the application start till the wrong b

[2022-03-30 17:09] TienDungUpwork commented on #755
I met this issue also, and here is the case
1. The app was killed completely
2. Someone call you
3. You got the notification for call, but take some time to login to QB service, to register a RTC signaling listener, however, the intial signal came before you logged in succeed.

@QB-nikolay-zolotarov  I also followed the example, please verify the case.

[2022-03-31 11:12] #784 closed

[2022-04-06 11:09] QB-nikolay-zolotarov commented on #755
@TienDungUpwork Hello, this is Nikolay from QuickBlox support.

Please try reproducing the issue with the latest version of the SDK:
https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.15

Also, please check our samples:
https://docs.quickblox.com/docs/code-samples#video-calling-samples
If the samples work as expected, you can compare them with your custom code to identify

[2022-04-26 08:54] yash-m-hanj opened #788 "Corner Radius in QBRTCSurfaceView"
hello i need to give radius in my QBRTCSurfaceView (local) but i won't be able to do that thing i tried with cardview but it is not working .. looking for help

[2022-05-04 09:17] QB-nikolay-zolotarov commented on #788
@yash-m-hanj Hello, this is Nikolay from QuickBlox support.
We do not have any instructions on how to implement the described functionality.
The implementation of this UI view is up to the client-side.
Let's continue the conversation in the ticketing portal as you already opened a ticket.

[2022-06-09 08:24] QB-nikolay-zolotarov commented on #762
@Ahmadpashaquarterpi the bug should be fixed now

[2022-07-07 09:23] reenask commented on #755
@arusyakhov Is your issue resolved?

[2022-07-13 10:12] QB-nikolay-zolotarov commented on #755
@reenask the latest version is https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.17
Please check it and provide the information requested previously if the issue persists.

[2022-07-22 11:18] Krishansharma commented on #655
Hi Nikolay,
I am also getting error when I sent push notification from android to an iOS device, error message is below-
   '{"errors":{"base":["No recipients. At least one user should be subscribed for 'fcm' (through SDK or REST API)"]}}'

i read your documentation also, but have not seen anything for resolving issue. Please help

[2022-07-22 11:33] QB-nikolay-zolotarov commented on #655
hello
Please check if you send push notifications from Android to iOS to the APNS channel and if iOS devices are subscribed to the channel.

Also, please check our guides:
https://quickblox.kayako.com/article/357-how-do-i-configure-chat-and-video-calling-push-notifications-and-offline-messaging

[2022-07-25 11:19] Krishansharma commented on #655
Hi Nikolay, Channel is creating successfully, but not sending android to iOS push notifications,  error is coming the same:-
'{"errors":{"base":["No recipients. At least one user should be subscribed for 'fcm' (through SDK or REST API)"]}}'

I am still working from last week, but not resolve

[2022-07-27 10:14] QB-nikolay-zolotarov commented on #655
To investigate the issue further, we need the following points:
1. Please update the SDKs to the latest versions:
https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/3.9.18
https://github.com/QuickBlox/quickblox-ios-sdk/releases/tag/2.17.11
2. Is this issue intermittent or permanent?
3. What are the steps to reproduce on our side?
4. Did you get this issue in your code or on s

[2022-07-29 07:01] #775 closed

[2022-08-16 06:16] vikashrathore081 commented on #522
implementation 'com.google.firebase:firebase-iid:21.1.0'

[2022-09-07 09:57] mathayan321 opened #796 "Private chat Notification receiving for all the users"
val userIds1 = StringifyArrayList<Int>()

        for (user in userIds1!!) {
            userIds1.add(opponentId)
        }

        val event = QBEvent()
        event.userIds = userIds1
        event.environment = QBEnvironment.DEVELOPMENT
        event.notificationType = QBNotificationType.PUSH
        event.pushType = QBPushType.GCM
        val customData = HashMap<String, Any>()
        custo

[2022-09-13 07:05] Kumar-Evoke-Github opened #798 "How to assign admin ownership to the second participant in the group"
Is it possible to change the dialog owner to other group participants? when does he leave the dialog?

Example: I created a dialog with three participants (1,2.3), I created with 1...after creation 1 left from the dialog. then is it possible to assign dialog ownership to the second participant?

Currently, we are using Quickblox Android and iOS SDKs...We need to main current admin of Dialog... Ple

[2022-10-06 04:44] #762 closed

[2022-10-24 09:01] quangnguyen-agilityio opened #802 "Automatic push subscription doesn't work."
Hello,
I'm following this documentation (https://docs.quickblox.com/docs/android-push-notifications) and the push sample (https://github.com/QuickBlox/quickblox-android-sdk/tree/master/sample-pushnotifications-kotlin) to enable push notification on my app but the automatic push subscription doesn't work properly.

From the documentation, it says that QuickBlox Android SDK provides automatic push s

[2022-10-26 08:20] quangnguyen-agilityio opened #803 "Cannot create push subscriptions for two applications on one device"
Hi,
I am facing a problem with creating push subscriptions for two applications on one device.
Somehow, automatically push subscription doesn't work (see [this issue](https://github.com/QuickBlox/quickblox-android-sdk/issues/802)), so I have to manual create push subscriptions following [this instruction](https://docs.quickblox.com/docs/android-push-notifications#manual-push-subscription).

I have

[2022-10-26 15:11] vdovbnya-qb commented on #803
Hello @quangnguyen-agilityio
To investigate the issue, we need more information.
Please provide **API endpoint** and **chat endpoint** that are used in your application.

[2022-10-27 09:37] quangnguyen-agilityio commented on #803
@vdovbnya-qb Here are the endpoints I used in my apps: *https://apifruitstreetstage.quickblox.com/*, *chatfruitstreetstage.quickblox.com*

[2022-10-27 11:19] QB-maksym-pidhorbunskyi commented on #803
Hello @quangnguyen-agilityio
This is Maksym from QuickBlox support.
Since you use custom endpoints and the issue relates to the old version of backend software, please [submit a ticket](https://help.quickblox.com/conversation/new) at the Help Center for further assistance.

Looking forward to your ticket at our Help Center.

[2022-10-31 04:09] quangnguyen-agilityio commented on #803
@QB-maksym-pidhorbunskyi Thank you for your support. I received an email from you that said our dev server is updated. I am verifying the update. In addition, can you help to take a look at the related issue as well? https://github.com/QuickBlox/quickblox-android-sdk/issues/802. Because the automatic push subscription feature doesn't work, then I have to manually subscribe to push following [the d

[2022-10-31 10:20] QB-maksym-pidhorbunskyi commented on #802
Hello @quangnguyen-agilityio
Could you update your current version to the latest version of [Android SDK 4.0.0](https://github.com/QuickBlox/quickblox-android-sdk-releases/releases/tag/4.0.0) and try to reproduce the issue again?
There was a fix related to subscribe/unsubscribe flow so, perhaps, the issue you faced was already fixed in the latest version.
If not, we will request additional details

[2022-10-31 10:22] QB-maksym-pidhorbunskyi commented on #803
@quangnguyen-agilityio Sure, I have just added a reply to [#802](https://github.com/QuickBlox/quickblox-android-sdk/issues/802), please check it.
Also, let me know if the reported issue is fixed after software update

[2022-10-31 12:11] quangnguyen-agilityio commented on #802
@QB-maksym-pidhorbunskyi I've already tried version 4.0.0 but it does not work. After quickblox is initialized and users logged in chat successfully, I don't see any subscription created on the dashboard. I have to manually subscribe to push via the API  `SubscribeService.subscribeToPushes(context, false)`, then it works.
Let me know if you need more info for investigating. Thank you.

[2022-11-21 10:49] umangnine commented on #750
This issue is still relevant! We are facing same issue on Android platform! It works fine on iOS but on Android it is very very slow! Please let us know how we can resolve it?

[2022-11-22 11:18] jdprajapati opened #804 "Crash on call service in android 12"
Unable to create service com.quickblox.sample.chat.kotlin.services.CallService: java.lang.SecurityException: Need android.permission.BLUETOOTH_CONNECT permission for android.content.AttributionSource@5d1c4b50: getName

it's working in target sdk 30 but it's not working in 31. I have also added bluetooth connect permission

[2022-11-22 13:48] jdprajapati commented on #804
Yes I have added separate code to manage bluetooth permission. In your call service bluetooth function is added. that's why it's required. Please add same in Permission Activity in your sdk.

[2022-11-22 13:48] #804 closed

[2022-11-26 07:43] teamaligness commented on #781
it's still happen in latest version
could you fix it?

Thank you

[2022-11-29 09:26] ravikumarneo opened #805 "Cannot upload document files on Quickblox android"
Connection failed. Please check your internet connection.

[2022-11-29 09:44] sshaforenkoqb commented on #805
@ravikumarneo Please provide additional details.

[2022-11-29 09:46] ravikumarneo commented on #805
using uploadFileTask method.
image and .mp4 files are being uploaded sucessfully, but .pdf, docs file uploading throw Error.

[2022-11-29 09:52] ravikumarneo commented on #805
Error Message is:
 Connection failed, Please check your internet connection

 but this is not helping in guessing the issue.

[2022-11-29 10:43] sshaforenkoqb commented on #805
Are you reproducing this issue using your own code or using the QuickBlox chat sample?